.polaris-black .ddp-layout-header h1.ddp-h1-logo {background:#181e25;}
.polaris-black .ddp-ui-contents-top {background:#313943;border-bottom:none;}
.polaris-black em.ddp-bg-back {background: #22282e;}
.polaris-black .ddp-ui-contents-top .ddp-ui-title {display:none;color:#fff;}
.polaris-black .ddp-layout-lnb a.ddp-btn-lnbmenu:before {background-position:0 -13px;}
.polaris-black .ddp-layout-header {height:53px;}
.polaris-black ul.ddp-list-top-tab li a {border-bottom-color:transparent;}
.polaris-black ul.ddp-list-top-tab li.ddp-selected a {color:#fff;border-bottom-color:#fff!important;}

.ddp-layout-header h1.ddp-h1-logo em.ddp-icon-logo {background:none;color:#fff;font-size:17px;line-height:14px;width:95px;}
.ddp-layout-header h1.ddp-h1-logo em.ddp-icon-logo.logo-last {color:#6c7ee7;width:190px;}
.ddp-log-statistics .ddp-data-title {color:#98a6ae;}
.polaris-black .ddp-log-statistics .ddp-box-chart{border:1px solid #262626;background:#2e363f;}
.ddp-layout-contents {padding-top:55px;}
.ddp-type-selectbox span.ddp-txt-selectbox {color: #90969f;}
.ddp-wrap-edit .ddp-ui-edit-option a.ddp-btn-toggle {background-color:#303a45;color:#606979;}
.ddp-wrap-edit .ddp-ui-edit-option a.ddp-btn-toggle.ddp-selected{background-color:#5c6bc1;color:#b7c3db;}
.ddp-ui-calen .ddp-box-calen{border-color:#303a45;}
.ddp-wrap-edit .ddp-ui-edit-option a.ddp-btn-toggle.ddp-data-range {padding-left: 15px;padding-right: 15px;color: #90969f;}
.ddp-wrap-edit .ddp-ui-edit-option .ddp-type-selectbox {border: 1px solid #303a45;}

input {background-color:#22282e;}
input.ddp-input-typebasic {border-radius:0;}
a.ddp-btn-line-s {background: #303a45;border: 1px solid #303a45;padding: 7px 15px;}
tr:hover,
table.ddp-table-type3 thead tr:hover,
table.ddp-table-type3 tbody tr:nth-child(odd):hover {background:none !important;}
table.ddp-table-type3 thead tr th {background-color:#313943;border:none;color:#636c7c;}
table.ddp-table-type3 thead tr th:first-of-type {border-left:none;}
table.ddp-table-type3 thead tr th:last-of-type,table.ddp-table-type3 tbody tr td:last-of-type {border-right:none;}
table.ddp-table-type3 tbody tr td{background:none;border-bottom: 1px solid #2d343d;}
table.ddp-table-type3 tbody tr:nth-child(odd) td{background:none;}
table.ddp-table-form tbody tr:last-of-type td {border-bottom: 1px solid #2d343d;}
table.ddp-table-type3 tbody tr td:first-of-type, table.ddp-table-type3 tbody tr td:last-of-type{border-left:none;}