/***************************************************************************************
   LAYOUT
***************************************************************************************/
html,body {
    background-color:#fdfdfd;
}

.cmm-wrap {
    // Header
    .layout-header {
        position:fixed;
        left:0;
        top:0;
        z-index:15;
        width:100%;
        height:50px;
        background-color:#18bfdf;
        transform:translateZ(0);

        @extend %box-sizing;

        > h1 {
            height:50px;
            padding-left:20px;
            line-height:48px;
            font-size:24px;
            color:#fff;
            font-weight:normal;
        }

        .btn-gnb {
            display:block;
            position:absolute;
            right:10px;
            top:0;
            width:50px;
            height:50px;
        }

        .gnb-line {
            display:block;
            width:30px;
            height:2px;
            margin:13px auto 0;
            background-color:#fff;
            transition:all 0.3s ease-in-out;
        }
        .gnb-line + .gnb-line {
            margin-top:8px;
        }
        .is-activated .gnb-line:first-child {
            transform:rotate(45deg) translateX(7px) translateY(7px);
        }
        .is-activated .gnb-line:nth-child(2) {
            opacity:0;
        }
        .is-activated .gnb-line:last-child {
            transform:rotate(-45deg) translateX(7px) translateY(-7px);
        }
    }

    // GNB
    .layout-gnb {
        position:fixed;
        left:-200px;
        top:50px;
        bottom:0;
        z-index:15;
        width:200px;
        transition:left 0.4s ease-in-out;

        &:before {
            display:block;
            position:fixed;
            left:-100%;
            top:50px;
            bottom:0;
            width:100%;
            background-color:rgba(0,0,0,0.2);
            opacity:0;
            transition:opacity 0.2s ease-in-out;
            content:'';
        }

        &.is-activated {
            left:0;
        }
        &.is-activated:before {
            left:0;
            opacity:1;
        }

        .list-gnb {
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            z-index:20;
            width:100%;
            background-color:#5a5b5d;
        }
        .list-gnb > li:nth-child(even) {
            background-color:#3a3b3c;
        }
        .link-gnb {
            display:block;
            position:relative;
            padding:15px 25px;
            font-size:16px;
            color:#dcdcdc;
        }

        .is-selected .link-gnb {
            color:#fff;
        }
        .is-selected .link-gnb:before {
            position:absolute;
            left:10px;
            top:50%;
            width:4px;
            height:4px;
            margin-top:-2px;
            background-color:#18bfdf;
            content:'';

            @include radius(50%);
        }

        .btn-logout {
            display:block;
            position:absolute;
            left:0;
            bottom:0;
            z-index:20;
            width:100%;
            height:40px;
            background-color:#848485;
            font-size:16px;
            color:#fff;
            text-align:center;
            line-height:40px;
        }
    }

    // Content
    .layout-content {
        padding-top:50px;

        [class*="page-"] {
            padding:20px;
        }

        // 하단 공통 버튼 영역
        .section-button {
            height:80px;

            .button-area {
                position:fixed;
                left:0;
                right:0;
                bottom:0;
                padding:20px;
                border-top:1px solid #f1f1f1;
                background-color:#fff;
            }
            .button-area:after {
                @extend %clear;
            }
        }
    }
}
