@charset "utf-8";

/***************************************************************************************
   dashboard
***************************************************************************************/
.dashboard_area {
    .box {
        cursor: pointer;
        &:hover {
            border: 1px solid #4abccc;

            &:before {
                display: block;
            }
        }
        &.type_all {
        background:url(../images/bg_home_all2.png) no-repeat center top;
        background-size:100% 100%;

             .period_compare {
                padding:0;
                line-height:25px;
                height:25px;
            }
        }
        .title {
            text-align:left;
            color:#222;
        }
        .info_data {
            font-size:30px;
            color:$color;

            strong {
                color:#326e8d;
            }
        }

        .btn_area {
            .btn_download {
                @include get-sprite($btn_download2);
            }
            .btn_fullsize{
                @include get-sprite($btn_fullsize2);
            }
            .btn_more{
                @include get-sprite($btn_more2);
            }
        }
    }
}

/***************************************************************************************
   Mirror
***************************************************************************************/
.gu-mirror {
    width:600px;
    list-style:none;
    position: fixed !important;
    z-index: 9999 !important;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);

    .box {
        &:before {
            display:block;
            content:'';
            @include get-sprite($icon_mirror2);
        }
    }
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}


