@charset "utf-8";

/***************************************************************************************
   Login
***************************************************************************************/
.dbp_login_wrap {
    overflow:hidden;
    min-width:979px;

    &:before {
      position:fixed;
      left:0;
      right:0;
      top:0;
      bottom:0;
      background:url(../images/bg_login.png) no-repeat center top;
      content:'';
    }
    .login_section {
        overflow:hidden;
        position:relative;
        z-index:1;
        width:979px;
        height:590px;
        margin:155px auto 0;
        padding-left:90px;
        @extend %box-sizing;

        .logo {
            margin-top:98px;
            @include get-sprite($logo);
        }
        .login_form {
            padding-top:40px;
        }
        .inp_login {
            display:block;
            width:292px;
            height:40px;
            margin-bottom:10px;
            padding:0 15px;
            border:0 none;
            background-color:#eee;
            font-size:14px;
            color:#a7a7a7;
            @include placeholder(#a7a7a7);
        }
        .login_btn {
            margin-top:23px;
        }
        .login_btn [class*="btn_"] {
            width:140px;
            height:45px;
            font-size:15px;
            font-weight:500;
            line-height:43px;

            &+[class*="btn_"] {
                margin-left:12px;
            }
        }
        .btn_login {
            border:1px solid #3a3670;
            color:#2c3b6d;
        }
        .btn_join {
            border:1px solid #d2d2d2;
            color:$color;
        }
        .btn_find {
            display:inline-block;
            margin-top:66px;
            font-size:13px;
            color:#7f848b;
        }
    }
}
