@charset "utf-8";

/***************************************************************************************
   Extend : Search-widget
***************************************************************************************/
%search-widget {
    .search_data {
        position:relative;
        padding:0 40px 0 0;
        height:29px;
        border-bottom:1px solid #f3f4f5;
        background-color:#f9f9f9;

        @include box-shadow(inset 0 8px 8px -8px #eeeeef);
    }
    .search_data .input_search {
        width:100%;
        height:30px;
        padding:0 0 0 19px;
        border:0 none;
        background-color:transparent;
        font-size:12px;
        color:#999;

        @include placeholder(#999);
        @extend %box-sizing;
    }
    .search_data .btn_search {
        position:absolute;
        right:6px;
        top:0;
        width:30px;
        height:30px;

        &:before {
            position:absolute;
            left:50%;
            top:50%;
            margin:-5px 0 0 -5px;
            content:'';

            @include get-sprite($icon_search_widget);
        }
    }
}

/***************************************************************************************
   Extend : 시각화 아이
***************************************************************************************/
%visualization-icon {
    .visualization01:before {
        @include get-sprite($icon_filter_01);
    }
    .visualization02:before {
        @include get-sprite($icon_filter_02);
    }
    .visualization03:before {
        @include get-sprite($icon_filter_03);
    }
    .visualization04:before {
        @include get-sprite($icon_filter_04);
    }
    .visualization05:before {
        @include get-sprite($icon_filter_05);
    }
    .visualization06:before {
        @include get-sprite($icon_filter_06);
    }
    .visualization07:before {
        @include get-sprite($icon_filter_07);
    }
    .visualization08:before {
        @include get-sprite($icon_filter_08);
    }
    .visualization09:before {
        @include get-sprite($icon_filter_09);
    }
    .visualization10:before {
        @include get-sprite($icon_filter_10);
    }
    .visualization11:before {
        @include get-sprite($icon_filter_11);
    }
    .visualization12:before {
        @include get-sprite($icon_filter_12);
    }
    .visualization13:before {
        @include get-sprite($icon_filter_13);
    }
    .visualization14:before {
        @include get-sprite($icon_filter_14);
    }
    .visualization15:before {
        @include get-sprite($icon_filter_15);
    }
    .visualization16:before {
        @include get-sprite($icon_filter_16);
    }
    .visualization17:before {
        @include get-sprite($icon_filter_17);
    }
}

/***************************************************************************************
   위젯 추가
***************************************************************************************/
.section_widget {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;

    // 위젯 이름 입력
    .widget_top {
        height:89px;
        padding:26px 287px 0 40px;
        border-bottom:1px solid #e0e3e6;

        @extend %box-sizing;

        .button_widget {
            position:absolute;
            right:40px;
            top:26px;
            font-size:0;
        }
    }

    .input_widget {
        display:block;
        width:100%;
        height:40px;
        padding:0 16px;
        border:0 none;
        background-color:#eee;
        line-height:40px;
        font-size:14px;
        color:#a7a7a7;

        @include placeholder(#a7a7a7);
        @extend %box-sizing;
    }

    .button_widget > [class*="btn_"] {
        display:inline-block;
        min-width:102px;
        height:37px;
        text-align:center;
        font-size:13px;
        line-height:37px;
        vertical-align:top;

        @extend %box-sizing;
    }
    .btn_add {
        background-color:#afbabf;
        color:#fff;

        &:hover {
            background-color:#4abccc;
        }
    }
    .btn_cancel {
        margin-left:6px;
        border:1px solid #5f7580;
        background-color:#fff;
        color:#5f7580;

        &:hover {
            border-color:#4abccc;
            color:#4abccc;
        }
    }

    // 위젯 컨텐츠 영역
    .widget_content {
        position:absolute;
        left:40px;
        right:40px;
        top:109px;
        bottom:20px;
        border:1px solid #e0e3e6;
        background-color:#f3f4f5;

        .widget_data {
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            width:195px;
            border-right:1px solid #e0e3e6;
            background-color:#fff;

            @extend %box-sizing;
        }

        .widget_data_setting {
            position:absolute;
            left:195px;
            right:247px;
            top:0;
            bottom:0;
        }

        .widget_setting {
            position:absolute;
            right:0;
            top:0;
            bottom:0;
            width:247px;
            border-left:1px solid #e0e3e6;
            background-color:#fff;

            @extend %box-sizing;
        }
    }

    // 데이터 목록
    .widget_data {
        > dt {
            height:39px;
            padding-left:19px;
            border-bottom:1px solid #e0e3e6;
            line-height:39px;
            font-size:12px;
            color:#899caf;
        }
        > dd {
            position:absolute;
            left:0;
            top:40px;
            bottom:0;
            width:100%;
        }

        .list_data > li > a {
            display:block;
            position:relative;
            height:32px;
            padding:0 0 0 19px;
            border-bottom:1px solid #f3f4f4;
            line-height:32px;
            font-size:12px;
            color:#333;

            &:after {
                display:inline-block;
                position:absolute;
                right:10px;
                top:12px;
                content:'';

                @include get-sprite($icon_unfold);
            }

            &.is_open:after {
                @include get-sprite($icon_fold);
            }
        }

        .item_dimension .extend_data {
            border-bottom:1px solid #e0e3e6;
        }

        // 검색
        .extend_data {
            @extend %search-widget;
        }

        // 목록
        .list_menu {
            padding:5px 0;
        }
        .list_menu > li > a {
            display:block;
            position:relative;
            height:30px;
            padding:0 10px 0 36px;
            line-height:30px;
            font-size:12px;
            color:#333;
        }
        .list_menu > li > a:before {
            position:absolute;
            left:0;
            top:50%;
            content:'';
        }
        .item_dimension .list_menu a:before {
            left:22px;
            margin-top:-3px;

            @include get-sprite($icon_dimension);
        }
        .item_measure .list_menu a:before {
            left:20px;
            margin-top:-4px;

            @include get-sprite($icon_measure);
        }
        .item_dimension .list_menu .type_period:before {
            left:20px;
            margin-top:-4px;

            @include get-sprite($icon_period);
        }
        .item_dimension .list_menu .type_location:before {
            left:21px;
            margin-top:-4px;

            @include get-sprite($icon_location);
        }
        .item_dimension .is_selected > a {
            color:#10beb8;

            &:before {
                left:20px;
                margin-top:-4px;

                @include get-sprite($icon_selected_dimension);
            }
        }
        .item_measure .is_selected > a {
            color:#2c5fb3;

            &:before {
                left:20px;
                margin-top:-4px;

                @include get-sprite($icon_selected_measure);
            }
        }
    }

    // 데이터 설정
    .widget_data_setting {
        > dt {
            height:39px;
            padding-left:19px;
            border-bottom:1px solid #e0e3e6;
            background-color:#fff;
            line-height:39px;
            font-size:12px;
            color:#899caf;
        }
        > dd {
            position:absolute;
            left:0;
            right:0;
            top:40px;
            bottom:0;
            padding:10px;
        }

        // 차원값,측정값 선택 된 목록
        .widget_value .value {
            position:relative;
            height:40px;
            padding:0 10px;
            background-color:#fff;

            @include radius(2px);

            & + .value {
                margin-top:5px;
            }

            .value_label {
                display:block;
                height:40px;
                line-height:40px;
                font-size:12px;
                color:#666;
            }
            .value_label:before {
                display:inline-block;
                width:6px;
                height:6px;
                margin:17px 5px 0 0;
                vertical-align:top;
                content:'';

                @include radius(50%);
            }
            .value_label:after {
                display:inline-block;
                width:1px;
                height:20px;
                margin:10px 0 0 12px;
                background-color:#ccc;
                vertical-align:top;
                content:'';
            }
            &.type_dimension .value_label:before {
                background-color:#10beb8;
            }
            &.type_measure .value_label:before {
                background-color:#2c5fb3;
            }

            .value_list {
                position:absolute;
                left:83px;
                right:10px;
                top:0;
                height:40px;
                font-size:0;
            }
            .value_list .box_value {
                overflow:hidden;
                display:inline-block;
                position:relative;
                height:25px;
                margin:7px 0 0 0;
                padding:0 25px 0 22px;
                line-height:25px;
                font-size:12px;
                color:#fff;

                @include radius(3px);

                &:before {
                    position:absolute;
                    top:50%;
                    content:'';
                }

                & + .box_value {
                    margin-left:5px;
                }

                &:hover {
                    @include box-shadow(1px 1px 6px #d5d5d5);
                }
            }
            &.type_dimension .box_value {
                background-color:#10beb8;

                &:before {
                    left:10px;
                    margin-top:-4px;

                    @include get-sprite($icon_dimension_on);
                }
                &.type_period:before {
                    left:8px;
                    margin-top:-5px;

                    @include get-sprite($icon_period_on);
                }

                &:hover > a {
                    background-color:#00a09a;
                }
            }
            &.type_measure .box_value {
                background-color:#2c5fb3;

                &:before {
                    left:9px;
                    margin-top:-5px;

                    @include get-sprite($icon_measure_on);
                }

                &:hover > a {
                    background-color:#0f45a0;
                }
            }
            .box_value > a {
                display:block;
                position:absolute;
                right:0;
                top:0;
                width:19px;
                height:25px;

                &:before {
                    position:absolute;
                    left:50%;
                    top:50%;
                    margin:-4px 0 0 -3px;
                    content:'';

                    @include get-sprite($icon_data_del);
                }
            }
        }

        // 위젯 데이터 설정, 차트 생성조건 및 설명
        .widget_info {
            position:absolute;
            left:10px;
            right:10px;
            bottom:20px;

            .info_desc {
                padding-bottom:40px;
                text-align:center;
                font-size:14px;
                color:#5c6164;
                line-height:20px;
            }

            .info_chart {
                padding:0 0 4px;
                background-color:#e7eaee;

                @include radius(4px);
            }

            .table_title {
                display:block;
                padding:15px 0 10px 20px;
                font-size:12px;
                color:#8d929a;
            }
            .table_head {
                padding-right:16px;
                background-color:#dce1e6;
            }
            .table_body {
                overflow-y:scroll;
                height:335px;
            }
            [class*="table_"] .table_desc {
                th {
                    height:30px;
                    padding:0 20px;
                    background-color:#dce1e6;
                    font-size:11px;
                    color:#8d929a;
                }
                td {
                    padding:8px 20px;
                    border:1px solid #d3d9df;
                    border-top:0 none;
                    font-size:12px;
                    color:#333;
                    line-height:16px;

                    &:first-child {
                        border-left:0 none;
                    }
                    &:last-child {
                        border-right:0 none;
                    }
                }

                .align_left {
                    text-align:left;
                }
                .align_center {
                    text-align:center;
                }

                .box_category {
                    display:inline-block;
                    margin:0 5%;
                }
                .box_category .label {
                    display:block;
                    margin-top:3px;
                    font-size:12px;
                    color:#333;
                }
                [class*="visualization"] {
                    display:inline-block;
                    width:47px;
                    height:47px;
                    border:1px solid #e7eaec;
                    background-color:#f3f4f5;

                    &:before {
                        content:'';
                    }
                }

                // 시각화 아이콘
                @extend %visualization-icon;
            }
        }

        // 위젯 차트 영역
        .widget_chart {
            position:absolute;
            left:30px;
            right:30px;
            top:135px;
            bottom:40px;
        }
    }

    // 시각화, 필터 설정
    .widget_setting {
        // Tab
        .list_tab {
            &:after {
                @extend %clear;
            }

            > li {
                float:left;
                width:50%;

                @extend %box-sizing;

                & + li {
                    border-left:1px solid #e0e3e6;
                }
            }

            > li > a {
                display:block;
                height:40px;
                border-bottom:1px solid #e0e3e6;
                background-color:#f3f4f5;
                line-height:40px;
                text-align:center;
                font-size:12px;
                color:#899caf;

                @extend %box-sizing;
            }

            .is_selected > a {
                border-bottom-color:#fff;
                background-color:#fff;
                color:#4abccc;
                font-weight:bold;
            }
        }

        // 시각화 설정
        .list_visualization {
            padding:20px 23px 0;

            &:after {
                @extend %clear;
            }

            > li {
                position:relative;
                float:left;
                width:49px;
                height:49px;
                margin-bottom:1px;

                & + li {
                    margin-left:1px;
                }
            }
            > li:hover .tooltip_visualization {
                display:block;
            }
            > li:hover .input_radio:disabled ~ .tooltip_visualization,
            > li:hover .input_radio:checked ~ .tooltip_visualization {
                display:none;
            }
            > li:hover label {
                background-color:#4abccc;
            }
            > li:hover .input_radio:disabled + label,
            > li:hover .input_radio:checked +label {
                background:none;
            }

            .input_radio {
                position:absolute;
                left:0;
                top:0;
                width:1px;
                height:1px;
                opacity:0;

                &:checked + label {
                    border:1px solid #4abccc;
                }
            }

            // 툴팁
            .tooltip_visualization {
                display:none;
                position:absolute;
                left:0;
                top:54px;
                z-index:10;
                padding:10px;
                background-color:rgba(44,44,44,0.9);

                @include radius(2px);

                &:before {
                    position:absolute;
                    left:20px;
                    top:-4px;
                    content:'';

                    @include get-sprite($arrow_tooltip);
                }

                &.type_right {
                    left:auto;
                    right:0;

                    &:before {
                        left:auto;
                        right:20px;
                    }
                }

                .title_tooltip {
                    font-size:12px;
                    color:#fff;
                    white-space:nowrap;
                }
                .list_desc {
                    margin-top:2px;
                }
                .list_desc li {
                    position:relative;
                    margin-top:5px;
                    padding-left:10px;
                    font-size:11px;
                    color:#fff;
                    line-height:16px;
                    white-space:nowrap;

                    &:before {
                        position:absolute;
                        left:0;
                        top:5px;
                        width:6px;
                        height:6px;
                        content:'';

                        @include radius(50%);
                    }

                    &.type_dimension:before {
                        background-color:#10beb8;
                    }
                    &.type_measure:before {
                        background-color:#2c5fb3;
                    }
                }
            }

            // 시각화 아이콘
            label[class*="visualization"] {
                display:block;
                width:49px;
                height:49px;
                cursor:pointer;

                @extend %box-sizing;

                &:before {
                    position:absolute;
                    left:1px;
                    top:1px;
                    content:'';
                }
            }

            // 시각화 아이콘 기본
            @extend %visualization-icon;

            // 시각화 아이콘 오버
            > li:hover {
                .visualization01:before {
                    @include get-sprite($icon_filter_01_hover);
                }
                .visualization02:before {
                    @include get-sprite($icon_filter_02_hover);
                }
                .visualization03:before {
                    @include get-sprite($icon_filter_03_hover);
                }
                .visualization04:before {
                    @include get-sprite($icon_filter_04_hover);
                }
                .visualization05:before {
                    @include get-sprite($icon_filter_05_hover);
                }
                .visualization06:before {
                    @include get-sprite($icon_filter_06_hover);
                }
                .visualization07:before {
                    @include get-sprite($icon_filter_07_hover);
                }
                .visualization08:before {
                    @include get-sprite($icon_filter_08_hover);
                }
                .visualization09:before {
                    @include get-sprite($icon_filter_09_hover);
                }
                .visualization10:before {
                    @include get-sprite($icon_filter_10_hover);
                }
                .visualization11:before {
                    @include get-sprite($icon_filter_11_hover);
                }
                .visualization12:before {
                    @include get-sprite($icon_filter_12_hover);
                }
                .visualization13:before {
                    @include get-sprite($icon_filter_13_hover);
                }
                .visualization14:before {
                    @include get-sprite($icon_filter_14_hover);
                }
                .visualization15:before {
                    @include get-sprite($icon_filter_15_hover);
                }
                .visualization16:before {
                    @include get-sprite($icon_filter_16_hover);
                }
                .visualization17:before {
                    @include get-sprite($icon_filter_17_hover);
                }
            }

            // 시각화 아이콘 비활성
            .input_radio:disabled {
                & + [class*="visualization"]:before {
                    opacity:0.3;
                }
                & + .visualization01:before {
                    @include get-sprite($icon_filter_01);
                }
                & + .visualization02:before {
                    @include get-sprite($icon_filter_02);
                }
                & + .visualization03:before {
                    @include get-sprite($icon_filter_03);
                }
                & + .visualization04:before {
                    @include get-sprite($icon_filter_04);
                }
                & + .visualization05:before {
                    @include get-sprite($icon_filter_05);
                }
                & + .visualization06:before {
                    @include get-sprite($icon_filter_06);
                }
                & + .visualization07:before {
                    @include get-sprite($icon_filter_07);
                }
                & + .visualization08:before {
                    @include get-sprite($icon_filter_08);
                }
                & + .visualization09:before {
                    @include get-sprite($icon_filter_09);
                }
                & + .visualization10:before {
                    @include get-sprite($icon_filter_10);
                }
                & + .visualization11:before {
                    @include get-sprite($icon_filter_11);
                }
                & + .visualization12:before {
                    @include get-sprite($icon_filter_12);
                }
                & + .visualization13:before {
                    @include get-sprite($icon_filter_13);
                }
                & + .visualization14:before {
                    @include get-sprite($icon_filter_14);
                }
                & + .visualization15:before {
                    @include get-sprite($icon_filter_15);
                }
                & + .visualization16:before {
                    @include get-sprite($icon_filter_16);
                }
                & + .visualization17:before {
                    @include get-sprite($icon_filter_17);
                }
            }

            // 시각화 아이콘 선택
            .input_radio:checked {
                & + .visualization01:before {
                    @include get-sprite($icon_filter_01_on);
                }
                & + .visualization02:before {
                    @include get-sprite($icon_filter_02_on);
                }
                & + .visualization03:before {
                    @include get-sprite($icon_filter_03_on);
                }
                & + .visualization04:before {
                    @include get-sprite($icon_filter_04_on);
                }
                & + .visualization05:before {
                    @include get-sprite($icon_filter_05_on);
                }
                & + .visualization06:before {
                    @include get-sprite($icon_filter_06_on);
                }
                & + .visualization07:before {
                    @include get-sprite($icon_filter_07_on);
                }
                & + .visualization08:before {
                    @include get-sprite($icon_filter_08_on);
                }
                & + .visualization09:before {
                    @include get-sprite($icon_filter_09_on);
                }
                & + .visualization10:before {
                    @include get-sprite($icon_filter_10_on);
                }
                & + .visualization11:before {
                    @include get-sprite($icon_filter_11_on);
                }
                & + .visualization12:before {
                    @include get-sprite($icon_filter_12_on);
                }
                & + .visualization13:before {
                    @include get-sprite($icon_filter_13_on);
                }
                & + .visualization14:before {
                    @include get-sprite($icon_filter_14_on);
                }
                & + .visualization15:before {
                    @include get-sprite($icon_filter_15_on);
                }
                & + .visualization16:before {
                    @include get-sprite($icon_filter_16_on);
                }
                & + .visualization17:before {
                    @include get-sprite($icon_filter_17_on);
                }
            }
        }

        // 추가할 수 있는 데이터 값
        .box_visualization {
            margin:12px 9px 0;
            padding:15px 18px;
            background-color:#f2f2f2;

            @include radius(4px);

            > dt {
                margin-bottom:15px;
                font-weight:bold;
            }
            > dt,
            > dd {
                font-size:12px;
                color:#333;
            }
            .txt_value {
                display:block;

                & + .txt_value {
                    margin-top:9px;
                }
            }
        }

        // 필터 설정
        .filter_tab {
            padding:15px 10px 0;

            // 필터 셀렉트 박스
            .select_filter {
                position:relative;
                height:25px;
                padding:0 18px 0 9px;
                border:1px solid #f2f5f8;
                line-height:23px;
                cursor:pointer;

                &:after {
                    position:absolute;
                    right:8px;
                    top:50%;
                    margin-top:-3px;
                    content:'';

                    @include get-sprite($arrow_filter);
                }

                &:hover {
                    border-color:#e0e3e6;
                }

                &.is_selected {
                    border-color:#c6cdd3;
                }
                &.is_selected .layer_filter {
                    display:block;
                }

                .label_filter {
                    display:block;
                    font-size:12px;
                    color:#333;

                    @extend %ellipsis;
                }

                @extend %box-sizing;
            }
            .layer_filter {
                display:none;
                position:absolute;
                left:-1px;
                right:-1px;
                top:23px;
                z-index:10;
                border:1px solid #c6cdd3;
                background-color:#fff;
                border-top:0 none;

                .search_data {
                    height:24px;
                }
                .search_data .input_search {
                    height:25px;
                    padding-left:10px;
                }
                .search_data .btn_search {
                    right:2px;
                    width:25px;
                    height:25px;
                }
                .list_option > li {
                    position:relative;
                }
                .list_option > li > a {
                    display:block;
                    padding:4px 10px;
                    font-size:12px;
                    color:#333;
                }
                .list_option .is_selected > a {
                    color:#4abccc;
                }
            }

            // 필터 추가
            .filter_add {
                position:relative;
                padding-right:20px;

                .btn_add_filter {
                    position:absolute;
                    right:0;
                    top:50%;
                    margin-top:-6px;

                    @include get-sprite($icon_add_filter);
                }

                // 검색
                @extend %search-widget;
            }

            // 추가 된 필터
            .list_filter {
                margin-top:20px;

                > dt {
                    margin-bottom:10px;
                    font-size:12px;
                    color:#333;
                }
                > dd {
                    position:relative;
                    padding-right:20px;

                    & + dt {
                        margin-top:10px;
                    }

                    .btn_del_filter {
                        position:absolute;
                        right:0;
                        top:50%;
                        margin-top:-6px;

                        @include get-sprite($icon_del_filter);
                    }
                }

                .select_filter {
                    border:1px solid #eee;
                    background-color:#eee;

                    .label_filter {
                        color:#a7a7a7;
                    }

                    &:hover {
                        border-color:#e0e3e6;
                        background-color:#fff;
                    }
                    &.is_selected {
                        border-color:#c6cdd3;
                        background-color:#fff;
                    }
                    &:hover .label_filter,
                    &.is_selected .label_filter {
                        color:#333;
                    }
                }

                .layer_filter {
                    top:24px;

                    .list_option > li {
                        padding:0 10px;

                        .input-checkbox {
                            position:absolute;
                            left:0;
                            top:0;
                            width:1px;
                            height:1px;
                            opacity:0;
                        }
                        > label {
                            font-size:12px;
                            color:#333;
                            cursor:pointer;
                        }
                        > label:before {
                            margin:8px 5px 0 0;
                            vertical-align:top;
                            content:'';

                            @include get-sprite($icon_check_filter);
                        }
                        .input-checkbox:checked + label:before {
                            @include get-sprite($icon_check_filter_on);
                        }
                    }
                }
            }
        }
    }
}


