/***************************************************************************************
   Page : 출퇴근 기록
***************************************************************************************/
.cmm-wrap .page-commute {

    // 날짜,이름,위치 정보
    .section-info {
        padding:20px;
        border:1px solid #f1f1f1;
        background-color:#f9f9f9;

        .info-data {
            display:block;
        }
        .info-data + .info-data {
            margin-top:10px;
        }
    }

    // 현재 시간
    .section-time {
        margin:20px 0 30px;
        text-align:center;
        font-size:36px;
        color:#008fac;

        .time-seconds {
            display:inline-block;
            position:relative;
            top:-3px;
            animation:cmm_time 1s infinite ease-in-out;
        }
    }

    // 입력 폼
    .section-form {
        .textarea {
            width:100%;
            height:160px;
            margin-top:20px;
            padding:20px;
            border:1px solid #f1f1f1;
            background-color:#fff;
            font-size:18px;
            color:#5c5d5f;
            line-height:24px;

            @include placeholder(#f2f2f2);
        }
    }

}
