/***************************************************************************************
   Page : LOGIN
***************************************************************************************/
.cmm-login-wrap {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#fdfdfd;
}

.page-login {
    display:table;
    width:100%;
    height:100%;

    .section-login {
        display:table-cell;
        border-top:5px solid #18bfdf;
        vertical-align:middle;
    }

    .logo {
        display:block;
        text-align:center;

        &:before {
            content:'';

            @include get-sprite($logo);
        }
    }

    .login-title {
        padding:10px 0 0;
        text-align:center;
        font-size:16px;
        color:#18bfdf;
        font-weight:normal;

        @extend %box-sizing;
    }

    .login-area {
        position:relative;
        z-index:1;
        padding:40px 20px;

        .input-login {
            width:100%;
            height:50px;
            padding:0 30px;
            border:1px solid #f1f1f1;
            background-color:#fff;
            font-size:20px;
            color:#5b5c5e;
            font-family:HelveticaNeue;

            @extend %box-sizing;
            @include placeholder(#f2f2f2);
        }

        .btn-login {
            display:block;
            width:100%;
            height:50px;
            margin-top:15px;
            background-color:#18bfdf;
            line-height:50px;
            text-align:center;
            font-size:20px;
            color:#fff;
        }
    }

    .section-copyright {
        position:absolute;
        left:20px;
        right:20px;
        bottom:0;
        padding:10px 0;
        border:1px solid #ededed;
        border-bottom:0 none;
        background-color:#f3f3f3;
        text-align:center;
        font-size:12px;
        color:#5b5457;
        opacity:0.4;

        @extend %box-sizing;
        @include radius(20px 20px 0 0);
    }
}
