%sprite-image {
  display: inline-block;
  background-image: url(../images/dbp.png);
  background-repeat: no-repeat;
}

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin get-sprite($sprite) {
  @extend %sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

$arrow_filter: 634px 351px -634px -351px 7px 5px 658px 595px '../images/dbp.png';
$arrow_selectbox: 622px 304px -622px -304px 15px 8px 658px 595px '../images/dbp.png';
$arrow_selectbox_fail: 637px 304px -637px -304px 15px 8px 658px 595px '../images/dbp.png';
$arrow_tooltip: 627px 334px -627px -334px 8px 4px 658px 595px '../images/dbp.png';
$bg_calen_1st: 611px 47px -611px -47px 33px 30px 658px 595px '../images/dbp.png';
$bg_calen_2nd: 611px 77px -611px -77px 33px 30px 658px 595px '../images/dbp.png';
$btn_download: 644px 77px -644px -77px 14px 15px 658px 595px '../images/dbp.png';
$btn_download2: 644px 92px -644px -92px 14px 15px 658px 595px '../images/dbp.png';
$btn_downloadall: 611px 123px -611px -123px 14px 15px 658px 595px '../images/dbp.png';
$btn_fullsize: 639px 180px -639px -180px 14px 14px 658px 595px '../images/dbp.png';
$btn_fullsize2: 644px 63px -644px -63px 14px 14px 658px 595px '../images/dbp.png';
$btn_listview: 637px 207px -637px -207px 14px 12px 658px 595px '../images/dbp.png';
$btn_more: 625px 152px -625px -152px 14px 14px 658px 595px '../images/dbp.png';
$btn_more2: 611px 152px -611px -152px 14px 14px 658px 595px '../images/dbp.png';
$btn_option: 611px 107px -611px -107px 16px 16px 658px 595px '../images/dbp.png';
$btn_toast_close: 625px 138px -625px -138px 14px 14px 658px 595px '../images/dbp.png';
$btn_toast_closeh: 639px 138px -639px -138px 14px 14px 658px 595px '../images/dbp.png';
$icon_add_filter: 635px 245px -635px -245px 12px 12px 658px 595px '../images/dbp.png';
$icon_admin: 611px 180px -611px -180px 14px 14px 658px 595px '../images/dbp.png';
$icon_arrow: 653px 138px -653px -138px 4px 7px 658px 595px '../images/dbp.png';
$icon_calendar: 648px 281px -648px -281px 10px 10px 658px 595px '../images/dbp.png';
$icon_calenprev: 653px 145px -653px -145px 4px 6px 658px 595px '../images/dbp.png';
$icon_check_filter: 638px 324px -638px -324px 10px 10px 658px 595px '../images/dbp.png';
$icon_check_filter_on: 619px 338px -619px -338px 10px 10px 658px 595px '../images/dbp.png';
$icon_compare: 627px 324px -627px -324px 11px 10px 658px 595px '../images/dbp.png';
$icon_compare_w: 647px 338px -647px -338px 9px 8px 658px 595px '../images/dbp.png';
$icon_confirm: 635px 281px -635px -281px 13px 11px 658px 595px '../images/dbp.png';
$icon_csv: 623px 281px -623px -281px 12px 12px 658px 595px '../images/dbp.png';
$icon_csv_disabled: 611px 221px -611px -221px 13px 12px 658px 595px '../images/dbp.png';
$icon_csv_hover: 623px 245px -623px -245px 12px 12px 658px 595px '../images/dbp.png';
$icon_csv_id: 611px 233px -611px -233px 13px 12px 658px 595px '../images/dbp.png';
$icon_csv_id_hover: 637px 221px -637px -221px 13px 12px 658px 595px '../images/dbp.png';
$icon_dashboard: 625px 166px -625px -166px 14px 14px 658px 595px '../images/dbp.png';
$icon_dashboard_on: 639px 152px -639px -152px 14px 14px 658px 595px '../images/dbp.png';
$icon_data_del: 627px 351px -627px -351px 7px 7px 658px 595px '../images/dbp.png';
$icon_del: 647px 245px -647px -245px 11px 12px 658px 595px '../images/dbp.png';
$icon_del_filter: 647px 269px -647px -269px 11px 12px 658px 595px '../images/dbp.png';
$icon_del_hover: 647px 257px -647px -257px 11px 12px 658px 595px '../images/dbp.png';
$icon_dimension: 653px 130px -653px -130px 5px 7px 658px 595px '../images/dbp.png';
$icon_dimension_on: 653px 123px -653px -123px 5px 7px 658px 595px '../images/dbp.png';
$icon_editwidget: 635px 293px -635px -293px 11px 11px 658px 595px '../images/dbp.png';
$icon_editwidget_hover: 646px 293px -646px -293px 11px 11px 658px 595px '../images/dbp.png';
$icon_error: 623px 207px -623px -207px 14px 12px 658px 595px '../images/dbp.png';
$icon_excel: 611px 257px -611px -257px 12px 12px 658px 595px '../images/dbp.png';
$icon_excel_disabled: 624px 221px -624px -221px 13px 12px 658px 595px '../images/dbp.png';
$icon_excel_hover: 635px 257px -635px -257px 12px 12px 658px 595px '../images/dbp.png';
$icon_excel_id: 624px 233px -624px -233px 13px 12px 658px 595px '../images/dbp.png';
$icon_excel_id_hover: 637px 233px -637px -233px 13px 12px 658px 595px '../images/dbp.png';
$icon_filter: 611px 293px -611px -293px 12px 11px 658px 595px '../images/dbp.png';
$icon_filter2: 611px 304px -611px -304px 11px 11px 658px 595px '../images/dbp.png';
$icon_filter_01: 0px 501px 0px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_01_hover: 47px 501px -47px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_01_on: 94px 501px -94px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_02: 141px 501px -141px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_02_hover: 188px 501px -188px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_02_on: 235px 501px -235px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_03: 282px 501px -282px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_03_hover: 329px 501px -329px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_03_on: 376px 501px -376px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_04: 423px 501px -423px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_04_hover: 470px 501px -470px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_04_on: 517px 501px -517px -501px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_05: 564px 0px -564px 0px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_05_hover: 564px 47px -564px -47px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_05_on: 564px 94px -564px -94px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_06: 564px 141px -564px -141px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_06_hover: 564px 188px -564px -188px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_06_on: 564px 235px -564px -235px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_07: 564px 282px -564px -282px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_07_hover: 564px 329px -564px -329px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_07_on: 564px 376px -564px -376px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_08: 564px 423px -564px -423px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_08_hover: 564px 470px -564px -470px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_08_on: 0px 548px 0px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_09: 47px 548px -47px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_09_hover: 94px 548px -94px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_09_on: 141px 548px -141px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_10: 188px 548px -188px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_10_hover: 235px 548px -235px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_10_on: 282px 548px -282px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_11: 329px 548px -329px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_11_hover: 376px 548px -376px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_11_on: 423px 548px -423px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_12: 470px 548px -470px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_12_hover: 517px 548px -517px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_12_on: 564px 548px -564px -548px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_13: 611px 0px -611px 0px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_13_hover: 517px 454px -517px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_13_on: 470px 454px -470px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_14: 516px 294px -516px -294px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_14_hover: 423px 454px -423px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_14_on: 376px 454px -376px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_15: 329px 454px -329px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_15_hover: 282px 454px -282px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_15_on: 235px 454px -235px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_16: 188px 454px -188px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_16_hover: 141px 454px -141px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_16_on: 94px 454px -94px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_17: 47px 454px -47px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_17_hover: 0px 454px 0px -454px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_17_on: 516px 344px -516px -344px 47px 47px 658px 595px '../images/dbp.png';
$icon_filter_hover: 623px 293px -623px -293px 12px 11px 658px 595px '../images/dbp.png';
$icon_fold: 629px 338px -629px -338px 9px 9px 658px 595px '../images/dbp.png';
$icon_home: 627px 107px -627px -107px 15px 14px 658px 595px '../images/dbp.png';
$icon_home_on: 642px 107px -642px -107px 15px 14px 658px 595px '../images/dbp.png';
$icon_imgfile: 611px 269px -611px -269px 12px 12px 658px 595px '../images/dbp.png';
$icon_imgfile_hover: 623px 257px -623px -257px 12px 12px 658px 595px '../images/dbp.png';
$icon_jpeg: 635px 269px -635px -269px 12px 12px 658px 595px '../images/dbp.png';
$icon_jpeg_hover: 611px 281px -611px -281px 12px 12px 658px 595px '../images/dbp.png';
$icon_location: 651px 207px -651px -207px 7px 9px 658px 595px '../images/dbp.png';
$icon_logout: 644px 47px -644px -47px 14px 16px 658px 595px '../images/dbp.png';
$icon_man: 619px 324px -619px -324px 8px 14px 658px 595px '../images/dbp.png';
$icon_measure: 650px 221px -650px -221px 8px 9px 658px 595px '../images/dbp.png';
$icon_measure_on: 650px 233px -650px -233px 8px 9px 658px 595px '../images/dbp.png';
$icon_menu: 625px 194px -625px -194px 14px 12px 658px 595px '../images/dbp.png';
$icon_minus: 627px 121px -627px -121px 9px 1px 658px 595px '../images/dbp.png';
$icon_mirror: 617px 360px -617px -360px 6px 10px 658px 595px '../images/dbp.png';
$icon_mirror2: 611px 360px -611px -360px 6px 10px 658px 595px '../images/dbp.png';
$icon_new: 625px 180px -625px -180px 14px 14px 658px 595px '../images/dbp.png';
$icon_nodata: 392px 356px -392px -356px 51px 46px 658px 595px '../images/dbp.png';
$icon_nodata2: 294px 258px -294px -258px 51px 46px 658px 595px '../images/dbp.png';
$icon_none: 611px 338px -611px -338px 8px 13px 658px 595px '../images/dbp.png';
$icon_period: 619px 351px -619px -351px 8px 9px 658px 595px '../images/dbp.png';
$icon_period_on: 611px 351px -611px -351px 8px 9px 658px 595px '../images/dbp.png';
$icon_phone: 500px 404px -500px -404px 50px 50px 658px 595px '../images/dbp.png';
$icon_plus: 638px 338px -638px -338px 9px 9px 658px 595px '../images/dbp.png';
$icon_request: 639px 166px -639px -166px 14px 14px 658px 595px '../images/dbp.png';
$icon_request_on: 611px 166px -611px -166px 14px 14px 658px 595px '../images/dbp.png';
$icon_search: 611px 194px -611px -194px 14px 13px 658px 595px '../images/dbp.png';
$icon_search_widget: 648px 324px -648px -324px 10px 10px 658px 595px '../images/dbp.png';
$icon_selectbox: 642px 334px -642px -334px 7px 4px 658px 595px '../images/dbp.png';
$icon_selectbox2: 649px 334px -649px -334px 7px 4px 658px 595px '../images/dbp.png';
$icon_selected_dimension: 624px 315px -624px -315px 10px 9px 658px 595px '../images/dbp.png';
$icon_selected_measure: 634px 315px -634px -315px 10px 9px 658px 595px '../images/dbp.png';
$icon_service: 611px 138px -611px -138px 14px 14px 658px 595px '../images/dbp.png';
$icon_service_on: 639px 123px -639px -123px 14px 14px 658px 595px '../images/dbp.png';
$icon_setting: 625px 123px -625px -123px 14px 14px 658px 595px '../images/dbp.png';
$icon_textfile: 611px 245px -611px -245px 12px 12px 658px 595px '../images/dbp.png';
$icon_textfile_hover: 623px 269px -623px -269px 12px 12px 658px 595px '../images/dbp.png';
$icon_toast_info: 611px 207px -611px -207px 12px 14px 658px 595px '../images/dbp.png';
$icon_toast_success: 611px 315px -611px -315px 13px 9px 658px 595px '../images/dbp.png';
$icon_toast_warning: 639px 194px -639px -194px 14px 12px 658px 595px '../images/dbp.png';
$icon_tooltip: 635px 334px -635px -334px 7px 4px 658px 595px '../images/dbp.png';
$icon_unfold: 644px 315px -644px -315px 9px 9px 658px 595px '../images/dbp.png';
$icon_woman: 611px 324px -611px -324px 8px 14px 658px 595px '../images/dbp.png';
$img_service1: 270px 0px -270px 0px 98px 98px 658px 595px '../images/dbp.png';
$img_service10: 270px 98px -270px -98px 98px 98px 658px 595px '../images/dbp.png';
$img_service11: 0px 208px 0px -208px 98px 98px 658px 595px '../images/dbp.png';
$img_service12: 98px 208px -98px -208px 98px 98px 658px 595px '../images/dbp.png';
$img_service13: 196px 208px -196px -208px 98px 98px 658px 595px '../images/dbp.png';
$img_service14: 368px 0px -368px 0px 98px 98px 658px 595px '../images/dbp.png';
$img_service15: 368px 98px -368px -98px 98px 98px 658px 595px '../images/dbp.png';
$img_service2: 368px 196px -368px -196px 98px 98px 658px 595px '../images/dbp.png';
$img_service3: 0px 306px 0px -306px 98px 98px 658px 595px '../images/dbp.png';
$img_service4: 98px 306px -98px -306px 98px 98px 658px 595px '../images/dbp.png';
$img_service5: 196px 306px -196px -306px 98px 98px 658px 595px '../images/dbp.png';
$img_service6: 294px 306px -294px -306px 98px 98px 658px 595px '../images/dbp.png';
$img_service7: 466px 0px -466px 0px 98px 98px 658px 595px '../images/dbp.png';
$img_service8: 466px 98px -466px -98px 98px 98px 658px 595px '../images/dbp.png';
$img_service9: 466px 196px -466px -196px 98px 98px 658px 595px '../images/dbp.png';
$img_service_s1: 466px 344px -466px -344px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s10: 200px 404px -200px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s11: 210px 150px -210px -150px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s12: 294px 208px -294px -208px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s13: 392px 306px -392px -306px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s14: 0px 404px 0px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s15: 50px 404px -50px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s2: 100px 404px -100px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s3: 150px 404px -150px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s4: 466px 294px -466px -294px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s5: 250px 404px -250px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s6: 300px 404px -300px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s7: 350px 404px -350px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s8: 400px 404px -400px -404px 50px 50px 658px 595px '../images/dbp.png';
$img_service_s9: 450px 404px -450px -404px 50px 50px 658px 595px '../images/dbp.png';
$logo: 150px 0px -150px 0px 120px 117px 658px 595px '../images/dbp.png';
$logo_page: 0px 150px 0px -150px 210px 58px 658px 595px '../images/dbp.png';
$user_default: 0px 0px 0px 0px 150px 150px 658px 595px '../images/dbp.png';
