@charset "utf-8";

/***************************************************************************************
   button Placeholder
***************************************************************************************/
%btn-set {
    display:inline-block;
    height:40px;
    text-align:center;
    font-size:13px;
    line-height:40px;
    vertical-align:top;

    @extend %box-sizing;
}

%btn-default {
    border:1px solid #5f7580;
    background-color:#fff;
    color:#5f7580;
}
%btn-default-hover {
    border-color:#4abccc;
    color:#4abccc;
}

%btn-point {
    background-color:#5f7580;
    color:#fff;
}
%btn-point-hover {
    background-color:#4abccc;
}
%btn-point-disabled {
    background-color:#afbabf;
    cursor:default;
}

/***************************************************************************************
   button
***************************************************************************************/
.dbp_join_wrap,
.dbp_popup_wrap {

    .btn_cancel,
    .btn_regist,
    .btn_delete {
        @extend %btn-set;
        @extend %btn-default;

        &:hover {
            @extend %btn-default-hover;
        }
    }

    .btn_action,
    .btn_confirm {
        @extend %btn-set;
        @extend %btn-point;

        &:hover {
            @extend %btn-point-hover;
        }
        &:disabled {
            @extend %btn-point-disabled
        }
    }

    .btn_leave {
        border-color:#e0e3e6;

        @extend %btn-set;
        @extend %btn-default;

        &:hover {
            @extend %btn-default-hover;
        }
    }
}
