@charset "utf-8";

/***************************************************************************************
   Home, Dashboard List
***************************************************************************************/
.home_area,
.dashboard_area {
  .dbp_row {
    margin-left:-18px;

    &+.dbp_row {
      margin-top:20px;
    }
    [class*="dbp_col"] {
      padding-left:18px;
    }
  }
}

/***************************************************************************************
   Home, Dashboard, Mirror Box
***************************************************************************************/
.home_area,
.dashboard_area,
.gu-mirror {
  .box {
    position: relative;
    min-height: 305px;
    margin-bottom: 22px;
    border:1px solid #fff;
    background-color: #f2f5f8;
    @include radius(4px);

    &.type_all .box_inner {
      display:block;

      .view_box {
        margin-top:0px;
        border-top:1px solid #fff;

        &:first-of-type {
          border-top:none;
        }

        .data_box {
          padding:75px 0 130px 0;
          text-align:center;
        }

        .data_calen {
          padding:30px 0 0 0;
          font-size:12px;
        }
      }
      ul.dbp_layout {
        float:left;
        width:50%;
        padding:0 9px;
        box-sizing:border-box;

        //li.list_part2 {
        //
        //  .dbp_row {
        //    margin-left:0px;
        //
        //    .dbp_s_col6 {
        //      display:inline-block;
        //    }
        //  }
        //}
      }
    }

    &:before {
      display:none;
      position:absolute;
      top:22px;
      left:7px;
      content:'';
      @include get-sprite($icon_mirror);
    }

    .btn_area {
      [class*="btn_"] {
        margin-left: 11px;
        opacity: 0.7;
        vertical-align: bottom;

        &:hover {
          opacity: 1;
        }
      }
      .btn_download {
        @include get-sprite($btn_download2);
      }
      .btn_fullsize {
        @include get-sprite($btn_fullsize2);
      }
      .btn_more {
        @include get-sprite($btn_more2);
      }
    }

    .box_inner {
      padding:20px;

      .view_filter {
        clear:both;
        padding:17px 0 0 11px;
        color:#666666;
        font-size:11px;

        &:before {
          display:inline-block;
          margin-right:5px;
          width:11px;
          height:11px;
          vertical-align:middle;
          content:'';
          @include get-sprite($icon_filter2);
        }
      }
    }

    .btn_area {
      position:absolute;
      top:20px;
      right:15px;
      z-index:1;
      font-size:0px;

      .wrap_dropbox {
        display:inline-block;

        &.is_selected {
          > a {
            opacity:1;
          }
        }
      }
    }
  }

  .box_inner {
    .title {
      font-size:14px;
      color:$color;
      &.title_type {
        color:#666;
      }
      &:after {
        @extend %clear;
      }
    }
    .box_filter {
      position:relative;
      display:block;
      margin-top:10px;
      font-size:0;
      &:before,
      &:after {
        display:table;
        content:'';
      }
      &:after {
        clear:both;
      }
    }
    .wrap_graph {
      &:before,
      &:after{
        display:table;
        content:'';
      }
      &:after {
        clear:both;
      }
      .box_district {
        float:left;
      }
    }
    .box_district {
      margin-top:17px;

      .box_filter {
        margin-top:7px;
        text-align:left;

        .filter_select {
          display:block;
          width:170px;
        }
      }
    }
    .graph_area {
      position:relative;
      margin-top:15px;
    }
    .view_graph {
      display:block;
      overflow:hidden;

      .graph_area {
        &.type_map {
          width:100%;
          margin-left:60px;
        }
      }
    }
  }
}

/***************************************************************************************
   Home, Dashboard, Mirror 기간 비교
***************************************************************************************/
.home_area,
.dashboard_area,
.gu-mirror {
  .box {
    .box_inner {
      .ui_result {
        position:absolute;
        left:20px;
        bottom:10px;

        .ui_label {
          display:block;
          padding-bottom:6px;
          color:#899caf;
          font-size:12px;
        }
        .data_result {
          display:block;
          font-weight:bold;
          color:$color;
          font-size:16px;
        }
      }

      //.ui_result2 {
      //  padding:18px 0 0 10px;
      //
      //  &.ui_padt0 {
      //    padding-top:0px;
      //  }
      //  .result_in {
      //    padding:10px 0 0 0;
      //
      //    &:first-of-type {
      //      padding-top:0px;
      //    }
      //  }
      //  span.ui_label {
      //    display:inline-block;
      //    width:80px;
      //    color:#899caf;
      //    font-size:12px;
      //  }
      //  span.data_result {
      //    color:$color;
      //    font-size:12px;
      //    strong {
      //      margin-right:10px;
      //    }
      //    .data_plus {
      //      color:#dc0000;
      //    }
      //    .data_minus {
      //      color:#0668ec;
      //    }
      //    .data_num {
      //      color:#999;
      //    }
      //  }
      //}

      .ui_option {
        display:inline-block;
        float:left;
        padding-left:7px;
        min-width:170px;
        box-sizing:border-box;
        .ui_label {
          display:block;
          padding-bottom:6px;
          color:#899caf;
          font-size:12px;
        }
        .data_result {
          display:block;
          color:$color;
          font-size:12px;
        }
      }
    }
  }
}

/***************************************************************************************
   Home, Dashboard, Mirror Tab/Table
***************************************************************************************/
.home_area,
.dashboard_area,
.gu-mirror {
  .box_inner {
    .view_box {
      position:relative;
      margin:20px 0 0 0;
      padding:20px 0 0 0;
      border-top:1px solid #e1e9f1;
      &:first-of-type {
        margin:0px;
        padding:0px;
        border-top:none;
      }
      .ui_result {
        left:8px;
      }
    }
    .list_tabs {
      @include radius (2px);
      margin-top:26px;
      overflow:hidden;

      li {
        float:left;
        width:50%;
        border-left:1px solid #f2f5f8;
        @extend %box-sizing;

        &:first-of-type {
          border-left:none;
        }
        &.is_selected {
          a {
            background-color:#10beb8;
            color:#fff;
          }
        }
        a {
          display:block;
          padding:10px 0;
          text-align:center;
          color:#5c6164;
          font-size:12px;
          background-color:#d2d8de;
        }
      }
    }
    .view_graph {
      display:block;
      overflow:hidden;
    }

    .wrap_table {
      margin:23px -20px -20px -20px;

      .table_thead {
        padding-right:18px;
        background-color:#e6ebef;
      }
      .table_tbody {
        height:215px;
        overflow-y:scroll;
      }
      .form_table {
        table-layout:fixed;
        width:100%;

        tr {
          th {
            padding:10px 5px;
            background-color:#e6ebef;
            color:#8d929a;
            font-size:11px;
            font-weight:normal;
            text-align:left;

            &.txt_center {
              text-align:center;
            }
            &.txt_right {
              padding-right:20px;
              text-align:right;
            }
          }
        }
        tr {
          td {
            padding:14px 5px;
            color:$color;
            font-size:12px;
            border-bottom:1px solid #e6ebef;
            cursor: pointer;

            span.data_category {
              padding:1px 4px;
              background-color:#5c6164;
              text-align:center;
              color:#fff;
              @include radius(2px);
            }
            &.data_num {
              color:#899caf;
            }
            &.txt_center {
              text-align:center;
            }
            &.txt_right {
              padding-right:20px;
              text-align:right;
            }
          }
          &:hover {
            td {
              background-color:#f9fafc;
            }
          }
          [class*="data_cont"]{
            font-weight:bold;
          }
          .data_cont1 {
            color:#10beb8;
          }
          .data_cont2 {
            color:#2c5fb3;
          }
          .data_cont3 {
            color:#6f2b96;
          }
          .data_cont4 {
            color:$color;
          }
        }
      }

      .data_add {
        display:block;
        padding:16px 0;
        text-align:center;
        color:#5f7580;
        font-size:12px;

        .data_total {
          display:inline-block;
          min-width:19px;
          margin-left:5px;
          line-height:19px;
          text-align:center;
          color:#fff;
          font-size:10px;
          background-color:#a2adb8;
          @include radius(50%);
        }
        &:hover {
          color:#2c9bab;

          .data_total {
            background-color:#31adbe;
          }
        }
      }
    }
  }
}

/***************************************************************************************
   Home, Dashboard, Mirror Box > Filter
***************************************************************************************/
.home_area,
.dashboard_area,
.gu-mirror {
  .box_filter {
    .dbp_fleft {
      float:left;
    }
    .dbp_resize {
      display:block;
      overflow:hidden;

      .search_area2 {
        display:block;

        .inp_search {
          width:100%;
        }
      }
    }
    &.dbp_row {
      margin:10px -3px 0 -3px;

      [class*="dbp_col"]{
        padding:0 3px ;

        .filter_select {
          width:100%;
          margin-right:0px;
        }
      }
    }
  }
}

/***************************************************************************************
   Home, Dashboard, Mirror List
***************************************************************************************/
.home_area,
.dashboard_area,
.gu-mirror {
  .dbp_part1 {
    margin:0;

    ul.dbp_layout {
      width:auto;

      @extend %box-sizing;

      li {
        padding:0 9px;
        cursor: pointer;

        .box {

          .box_inner {
            &:before,
            &:after {
              display:table;
              content:'';
            }
            &:after {
              clear:both;
            }
            &.inner_type .view_box {
              padding-left:0;
            }
            &.inner_type .view_box.view_sub2 {
              padding-right:0;
            }
            &.box_row {
              padding:20px 0;
              .view_box {
                width:100%;
              }
              .wrap_table {
                margin-bottom:0px;
                border-bottom:1px solid #e1e9f1;
              }
              .view_box {
                border-left:none;

              }
            }
            .view_box {
              float:left;
              width:50%;
              padding:0 20px;
              box-sizing:border-box;
              border-top:none;
              border-left:1px solid #e1e9f1;

              &:first-of-type {
                border-left:none;
              }
              &.view_type {

                .info_data {
                  color:$color;
                  strong{
                    color:#326e8d;
                  }
                }
                .data_calen {
                  color:$color;
                }
              }
              .wrap_graph {
                position:relative;
              }
              &.view_sub  {
                margin:0;
                padding:0 0 0 20px;
              }
              &.view_sub2  {
                margin:49px 0 0 0;
              }
              .ui_option {
                &.option_sub {
                  margin-top:30px;
                }
              }
            }
          }
          .ui_result2 {
            overflow:hidden;

            .result_in {
              float:left; width:50%;
              padding:0 0 0 0;
            }
          }
          .box_filter {
            &.dbp_l_col6 {
              float:left;
              width:100%;
              .dbp_resize {
                display:block;
                padding-right:6px;
                overflow:hidden;
                box-sizing:border-box;
                .search_area2 {
                  width:100%;
                }
              }
            }

            .dbp_fleft {
              &.dbp_row {
                margin-left:0px;

                .dbp_s_col6 {
                  display:inline-block;

                }
              }
            }
            .dbp_resize {
              display:inline-block;
              overflow:inherit;
              .search_area2 {
                width:320px;
              }
            }
          }
          .box_district {
            width:170px;

            .box_filter  {
              padding:0 3px;
              box-sizing:border-box;

              .filter_select  {
                margin-right:0px;
                width:100%;
              }
            }
          }
        }

        .box.type_all {
          .box_inner {
            &:before,
            &:after {
              display:table;
              content:'';
            }
            &:after {
              clear:both;
            }
            .view_box {
              border-top:none;
              float:left;
              width:50%;
              margin-top:0px;
              border-left:1px solid #e1e9f1;
              box-sizing:border-box;

              &.view_full {
                width:100%;
                padding:0;
              }
              &:first-of-type {
                border-left:none;
                padding-left:0px;
              }
              &:last-of-type {
                padding-right:0px;
              }
            }
          }
        }
      }
    }
  }

  .dbp_part2 {
    float:left;
    margin:0;
    width:100%;

    ul.dbp_layout {
      float:left;
      width:50%;
      padding:0 9px;
      box-sizing:border-box;

      li {
        .dbp_row {
          margin-left:0px;

          .dbp_s_col6 {
            display:inline-block;
          }
        }
        .view_box.view_type *{
          color:#fff ;
        }
        .view_box.view_type .period_compare {
          &:before {
            @include get-sprite($icon_compare_w);
          }
        }
      }
    }
  }

  .dbp_part3 {
    float:left;
    margin:0;

    ul.dbp_layout {
      float:left;
      width:33.333%;
      padding:0 9px;
      box-sizing:border-box;

      li {
        cursor: pointer;

        .box_district {
          float:inherit;
          width:100%;

          .filter_select {
            width:100%;
          }
        }
        .ui_result {
          position:relative;
          bottom:inherit;
          padding:20px 0 0 0;
        }
        .ui_option {
          display:block;
          float:inherit;
        }
        .graph_area.type_map {
          margin-left:0px;
        }
        .box_filter {
          &.dbp_row {
            width:50%;
            [class*="dbp_col"] {
              width:100%;
              margin-top:9px;
              &:first-of-type {
                margin-top:0px;
              }
            }
          }
          &.dbp_l_col6 {
            width:100%;
          }
          &.box_type {
            .dbp_fleft {
              float:inherit;

              &.dbp_row {
                margin:0 -3px;
              }
              .dbp_s_col6 {
                width:50%;
                padding:0 3px;
                float:left;
                box-sizing:border-box;

                .filter_select  {
                  width:100%;
                  margin-right:0px;
                }
              }
            }
            .dbp_resize {
              clear:both;
              padding-top:9px;
              overflow:inherit;
            }
          }
        }
      }
    }
  }
}

/***************************************************************************************
   Home, Dashboard, Mirror 확
***************************************************************************************/
.home_area,
.dashboard_area,
.gu-mirror {
  ul.dbp_layout > li {
    &.type_full {
      &:before {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.6);
        content: '';
        z-index: 55;
      }
      .box {
        display: block;
        position: fixed;
        left: 40px;
        right: 40px;
        bottom: 20px;
        top: 20px;
        width: inherit;
        margin: 0px;
        z-index: 60;
        .box_inner {
          height:100%;
          box-sizing:border-box;
          .view_box {
            height:100%;
            box-sizing:border-box;
          }
        }
      }
      .box .box_inner .view_box.view_sub {
        margin:0 !important;
        padding-top:32px;
      }
      .box .box_inner .view_box.view_sub2 {
        margin:0 !important;
        padding-top:49px;
      }

      .box.type_all .box_inner {
        display:table;
        width:100%;
        height:100%;
      }

    }
  }

  .dbp_part1 ul.dbp_layout > li{
    &.type_full {
      .box.type_all .box_inner .view_box {
        display: table-cell;
        float: inherit;
        vertical-align: middle;
      }
    }
  }

  .dbp_part2 ul.dbp_layout > li,
   .dbp_part3 ul.dbp_layout > li {
     &.type_full {
       .box.type_all .box_inner .view_box,
       .box .box_inner.inner_type .view_box {
         height:50%;
       }
     }
   }

  .dbp_part2 ul.dbp_layout > li,
  .dbp_part3 ul.dbp_layout > li {
    &.type_full {
      .box.type_all .box_inner .view_box{
        display:table-row;
        height:50%;

        .data_box {
          display:table-cell;
          vertical-align: middle;
          border-top:1px solid #fff;
        }
      }
    }
  }
}

/***************************************************************************************
   box nodata
***************************************************************************************/
.box_nodata {
  display:block;
  padding:90px 0 0 0;
  text-align:center;

  &:before {
    @include get-sprite($icon_nodata2);
    content:'';
  }
  .txt_nodata {
    display:block;
    padding-top:15px;
    text-align:center;
    color:#b3c5cf;
    font-size:14px;
    font-size:14px;
  }
}

/***************************************************************************************
   search
***************************************************************************************/
.search_area {
  &:before {
    margin:6px 5px 0 0;
    vertical-align:top;
    content:'';
    @include get-sprite($icon_search);
  }
  .inp_search {
    width:160px;
    height:28px;
    line-height:28px;
    padding:0 11px;
    border:0 none;
    background-color:#f2f5f8;
    font-size:12px;
    vertical-align:top;
    @include placeholder(#999);
    @include radius(4px);
    @extend %box-sizing;
  }
}

.search_area2 {
  position:relative;
  display:inline-block;

  &:before {
    position:absolute;
    top:50%;
    right:9px;
    margin:-7px 0 0 0;
    vertical-align:top;
    content:'';
    @include get-sprite($icon_search);
  }
  .inp_search {
    width:198px;
    height:25px;
    line-height:25px;
    padding:0 25px 0 10px;
    border:0 none;
    background-color:#fff;
    font-size:12px;
    vertical-align:top;
    @include placeholder(#999);
    @extend %box-sizing;
  }
}

/***************************************************************************************
   drop box
***************************************************************************************/
.wrap_dropbox {
  position:relative;
  z-index:1;

  &.is_selected{
    .type_dropbox {
      display:block;
    }
  }
  .type_dropbox {
    display:none;
    position:absolute;
    top:100%;
    right:-20px;
    padding:4px 0;
    margin-top:8px;
    background-color: #fff;
    white-space:nowrap;
    @include radius(4px);
    @include box-shadow(0 2px 5px rgba(29,37,41,.4));

    > li {
      a {
        display:block;
        position:relative;
        padding:5px 18px 5px 36px;
        color:$color;
        font-size:12px;

        &:hover{
          color:#4abccc;

          &.link_textfile:before {
            @include get-sprite($icon_textfile_hover);
          }
          &.link_csv:before {
            @include get-sprite($icon_csv_hover);
          }
          &.link_jpg:before {
            @include get-sprite($icon_jpeg_hover);
          }
          &.link_png:before {
            @include get-sprite($icon_imgfile_hover);
          }
          &.link_excel:before {
            @include get-sprite($icon_excel_hover);
          }
          &.link_csv_id:before {
            @include get-sprite($icon_csv_id_hover);
          }
          &.link_excel_id:before {
            @include get-sprite($icon_excel_id_hover);
          }

          &.link_filter:before {
            @include get-sprite($icon_filter_hover);
          }
          &.link_editwidget:before {
            @include get-sprite($icon_editwidget_hover);
          }
          &.link_del:before {
            @include get-sprite($icon_del_hover);
          }
        }
      }
      [class*="link_"]:before {
        position:absolute;
        top:50%;
        left:10px;
        margin-top:-6px;
        content:'';
      }
      .link_textfile:before {
        @include get-sprite($icon_textfile);
      }
      .link_csv:before {
        @include get-sprite($icon_csv);
      }
      .link_jpg:before {
        @include get-sprite($icon_jpeg);
      }
      .link_png:before {
        @include get-sprite($icon_imgfile);
      }
      .link_excel:before {
        @include get-sprite($icon_excel);
      }
      .link_csv_id:before {
        @include get-sprite($icon_csv_id);
      }
      .link_excel_id:before {
        @include get-sprite($icon_excel_id);
      }

      .link_filter:before {
        @include get-sprite($icon_filter);
      }
      .link_editwidget:before {
        @include get-sprite($icon_editwidget);
      }
      .link_del:before {
        @include get-sprite($icon_del);
      }


      [class*="link_"].is_disabled {
        color:#ccc;
        cursor:default;
      }
      .link_csv_id.is_disabled:hover:before,
      .link_csv_id.is_disabled:before {
        @include get-sprite($icon_csv_disabled);
      }
      .link_excel_id.is_disabled:hover:before,
      .link_excel_id.is_disabled:before {
        @include get-sprite($icon_excel_disabled);
      }
    }
  }
}

.dbp_layout .filter_select {
  position:relative;
  display:inline-block;
  min-width:135px;
  height:25px;
  padding:0 23px 0 8px;
  margin-right:7px;
  border:1px solid #fff;
  background-color:#fff;
  vertical-align:top;
  box-sizing:border-box;
  cursor: pointer;

  .option {
    display:block;
    font-size:12px;
    color:$color;
    text-align:left;
    line-height:23px;
  }
  &:after {
    position:absolute;
    right:9px;
    top:50%;
    margin-top:-2px;
    content:'';
    @include get-sprite($icon_selectbox);
  }
  & > .list_select {
    display:none;
    position:absolute;
    left:-1px;
    right:-1px;
    top:100%;
    padding:3px 0;
    border:1px solid rgba(159, 172, 185, 0.5);
    background-color:#fff;
    text-align:left;

    a {
      display:block;
      padding:3px 8px;
      color:$color;
      font-size:12px;

      &:hover {
        color:#29b3c6;
      }
    }

  }
  &:hover {
    border:1px solid #c8d0d8;
  }
  &.is_selected {
    border:1px solid rgba(159, 172, 185, 0.5);
    z-index:1;

    & > .list_select {
      display:block;
    }
  }
}

/***************************************************************************************
   기간 선택
***************************************************************************************/
.dbp_layout .filter_period {
    display:inline-block;
    margin-right:7px;
    vertical-align:top;

    .period_area {
      position:relative;
      height:25px;
      padding:0 16px 0 10px;
      border:1px solid #fff;
      background-color:#fff;
      text-align:left;
      font-size:12px;
      color:#333;
      line-height:23px;
      box-sizing:border-box;
      cursor: pointer;

      &.period_basic {
        padding-left:0px;
        border:none;
        background:none;
      }
    }

    .period_area:before {
        margin-right:8px;
        content:'';

        @include get-sprite($icon_calendar);
    }

    .period_area:hover {
        border-color:#c1cad3;
    }

    .period_compare {
        padding:0 0 0 10px;
        line-height:25px;
        text-align:left;
        font-size:11px;
        color:#8a9ba4;
      &.ui_padl0 {
        padding-left:0px;
      }
    }
    .period_compare:before {
        position:relative;
        top:3px;
        margin-right:8px;
        content:'';

        @include get-sprite($icon_compare);
    }
}

/***************************************************************************************
   새 위젯 추가 버튼
***************************************************************************************/
.btn_add_widget {
    overflow:hidden;
    display:block;
    padding:80px 0;
    margin-bottom:22px;
    border:1px dashed #b3bac2;
    background-color:#f2f5f8;
    text-align:center;
    font-size:15px;
    color:#808f9d;

    @include radius(4px);

    &:before {
        margin:3px 8px 0 0;
        vertical-align:top;
        content:'';

        @include get-sprite($icon_plus);
    }
}

