@charset "utf-8";

/***************************************************************************************
   tooltip
***************************************************************************************/
.tooltip_hover {
    position:relative;

    &:hover{
        .tooltip_box {display:inline-block;}
    }
}
.tooltip_box {
    display:none;
    position:absolute;
    top:100%;
    right:-8px;
    margin-top:9px;
    padding:5px 12px;
    font-size:12px;
    text-align:center;
    color:#fff;
    white-space:nowrap;
    background-color:rgba(44,44,44,0.9);
    @include radius(2px);

    &:before {
        position:absolute;
        top:-4px;
        right:20px;
        content:'';
        @include get-sprite($icon_tooltip);
    }
}