<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!-- polaris css --->
    {% load static %}
    <!--<script src="{% static "js/scroll.js"%}"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="{% static "css/rome.css"%}"/>-->
    <link rel="stylesheet" href="{% static "css/ui.css"%}"/>
    <title>METATRON ENGINE MONITORING</title>
</head>
</head>

<body id="top">
<!-- GNB -->
<div class="layout-gnb">
    <a href="javascript:" class="gnb-menu"></a>

    <a href="javascript:" class="gnb-logo"><img src="{% static "images/icon_logo.png" %}" alt="METATRON ENGINE MONITORING"></a>
    <div class="ui-gnb-option">
        <a href="javascript:" class="gnb-search"></a>
        <a href="javascript:" class="gnb-alarm"></a>
        <span class="gnb-profile">
            <img src="{% static "images/sample_profile.png" %}" >
        </span>
    </div>
</div>
<!-- //GNB -->
<!-- contents -->
<div class="layout-contents">
    <!-- top -->
    <div class="ui-top">
        <div class="txt-cluster">CLUSTER</div>
        <div class="component-tab-menu">
            <ul class="list-tab-menu">
                <li class="is-selected">
                    <a href="#top">Overview</a>
                </li>
                <li>
                    <a href="#last">Nodes</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- //top -->

    <!-- area contents -->
    <div class="area-contents area-monitoring">

        <!-- wrap server box -->
        <div class="wrap-server-list">


            <!-- component option -->
            <div class="component-top-option is-clear">
                <div class="ui-fright">
                    <a href="javascript:" class="btn-solid type-s">More</a>

                    <!-- tab button -->
                    <div class="component-tab-button">
                        <ul class="list-tab-button">
                            <li class="is-selected"><a href="javascript:"><em class="icon-grid"></em></a></li>
                            <li><a href="javascript:"><em class="icon-list"></em></a></li>
                        </ul>
                    </div>
                    <!-- //tab button -->
                </div>
            </div>



            <!-- //component option -->
            <div class="component-tab-contents">
                <div class="ui-tab-contents" style="display:;">
                    <div class="view-server-list is-clear">
                        <table class="component-table">
                            <colgroup>
                                <col width="23%">
                                <col width="245px">
                                <col width="220px">
                                <col width="208px">
                                <col width="220px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Server Name</th>
                                <th>Node Name</th>
                                <th>Status</th>
                                <th>Port</th>
                                <th>Memory (GB, %)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="5" class="type-line"><strong>Server1</strong></td>
                                <td>
                                    <span class="txt-server type-coordinator">Coordinator</span>
                                </td>
                                <td>
                                    <span class="tag-status type-ok">Ok</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="txt-server type-broker">Broker</span>
                                </td>
                                <td>
                                    <span class="tag-status type-fail">Fail</span>
                                    <span class="txt-fail">(20분간 지속되고 있음)</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="txt-server type-overload">Overload</span>
                                </td>
                                <td>
                                    <span class="tag-status type-ok">Ok</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="txt-server type-historical">Historical</span>
                                </td>
                                <td>
                                    <span class="tag-status type-ok">Ok</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>
                            <tr class="type-line">
                                <td>
                                    <span class="txt-server type-middlemanger">Middle Manager</span>
                                </td>
                                <td>
                                    <span class="tag-status type-ok">Ok</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="5" class="type-line"><strong>Server1</strong></td>
                                <td>
                                    <span class="txt-server type-coordinator">Coordinator</span>
                                </td>
                                <td>
                                    <span class="tag-status type-ok">Ok</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>
                            <tr class="type-line">
                                <td>
                                    <span class="txt-server type-broker">Broker</span>
                                </td>
                                <td>
                                    <span class="tag-status type-ok">Ok</span>
                                </td>
                                <td>
                                    8080
                                </td>
                                <td>
                                    21(10%)
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- //wrap server box -->

        <!-- 메모리 -->
        <div class="wrap-memory is-clear">
            <div class="col-12">
                <div class="col-12">
                    <!-- component box -->
                    <div class="component-box type-memory">
                        <div class="type-label">Broker</div>

                        <span class="data-memory">
                            <strong>800</strong> MB
                        </span>

                        <div class="data-value"> 현재 10% </div>
                    </div>
                    <!-- //component box -->
                </div>
            </div>
        </div>
        <div class="wrap-memory is-clear">
            <div class="col-5">
                <div class="col-6">
                    <!-- component box -->
                    <div class="component-box type-memory">
                        <div class="type-label">현재 메모리</div>

                        <span class="data-memory">
                            <strong>800</strong> MB
                        </span>

                        <div class="data-value"> 10% 상승  (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-6">

                    <!-- component box -->
                    <div class="component-box type-cpu">
                        <div class="type-label">현재 CPU</div>

                        <span class="data-memory">
                           <strong> 30</strong>
                        </span>

                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
            </div>
            <div class="col-7">
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox">
                        <div class="type-label">GC</div>

                        <span class="data-memory">
                            <strong>50</strong>
                        </span>

                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox">
                        <div class="type-label">Full GC</div>

                        <span class="data-memory">
                            <strong>41</strong>
                        </span>

                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox">
                        <div class="type-label">Byte 수</div>

                        <span class="data-memory">
                            <strong>41</strong>
                        </span>

                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox type-fail">
                        <div class="type-label">Fail Node 수</div>

                        <span class="data-memory">
                            <strong>41</strong>
                        </span>
                    </div>
                    <!-- //component box -->
                </div>
            </div>
            <div class="col-7">
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox">
                        <div class="type-label">Pending Query 수</div>

                        <span class="data-memory">
                            <strong>50</strong>
                        </span>

                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox">
                        <div class="type-label">쿼리 딜레이</div>

                        <span class="data-memory">
                            <strong>3</strong>분
                        </span>

                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox">
                        <div class="type-label">금일 사용한 쿼리 수</div>

                        <span class="data-memory">
                            <strong>41</strong>
                        </span>

                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
                <div class="col-3">
                    <!-- component box -->
                    <div class="component-box type-databox ">
                        <div class="type-label">금일 평균 쿼리 응답시간</div>

                        <span class="data-memory">
                            <strong>41</strong>분
                        </span>
                        <div class="data-value">10% 상승 (하루평균대비)</div>
                    </div>
                    <!-- //component box -->
                </div>
            </div>
        </div>
        <!-- //메모리 -->

        <!-- overview_KPI charts-->
        <div id="overview_KPIs"class="ddp-clear">
            <!-- overview_KPI in detail when clicked-->
        </div>
        <!-- //overview_KPI charts -->



        <!--&lt;!&ndash; server map &ndash;&gt;-->
        <!--<div class="component-view type-service">-->
        <!--<div class="txt-title">-->
        <!--Service Map (109)-->

        <!--<a href="javascript:" class="icon-setting"></a>-->

        <!--</div>-->
        <!--<div class="view-contents">-->
        <!--<div class="txt-map">All Server Map</div>-->
        <!--&lt;!&ndash; server &ndash;&gt;-->
        <!--<div class="wrap-server-map is-clear">-->
        <!--<ul class="list-server-map">-->
        <!--<li>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--<span class="box-map is-selected"></span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--</li>-->

        <!--</ul>-->
        <!--<ul class="list-server-map">-->
        <!--<li>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--</li>-->

        <!--</ul>-->
        <!--<ul class="list-server-map">-->
        <!--<li>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--<span class="box-map"></span>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; //server &ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; //server map &ndash;&gt;-->

    </div>
</div>
<!-- //area contents -->
</div>
<!-- //contents -->



<!-- contents -->
<div id="last" class="layout-contents">
    <!-- area contents -->
    <div class="area-contents area-monitoring">
        <!-- top option -->
        <div class="ui-top-option is-clear">

            <!-- form setting -->
            <div class="form-setting">
                <span class="txt-label">Node</span>
                <div class="form-component">
                    <!-- select box -->
                    <!--
                        클릭시 is-selected 추가
                    -->
                    <div class="component-selectbox">
                        <span class="txt-selectbox">All</span>
                        <!-- dropdown -->
                        <div class="ui-dropdown">
                            <ul class="list-selectbox">
                                <li><a href="javascript:">Coordinator</a></li>
                                <li><a href="javascript:">Borker</a></li>
                                <li><a href="javascript:">Historical</a></li>
                                <li><a href="javascript:">Overload</a></li>
                                <li><a href="javascript:">Middle Manager</a></li>
                            </ul>
                        </div>
                        <!-- //dropdown -->
                    </div>
                    <!-- //select box -->
                </div>
            </div>
            <!-- //form setting -->

            <!-- form setting -->
            <div class="form-setting">
                <span class="txt-label">Server</span>
                <div class="form-component">
                    <!-- select box -->
                    <!--
                        클릭시 is-selected 추가
                    -->
                    <div class="component-selectbox">
                        <span class="txt-selectbox">All</span>
                        <!-- dropdown -->
                        <div class="ui-dropdown">
                            <ul class="list-selectbox">
                                <li><a href="javascript:">127.0.0.1</a></li>
                            </ul>
                        </div>
                        <!-- //dropdown -->
                    </div>
                    <!-- //select box -->
                </div>
            </div>
            <!-- //form setting -->

            <!-- form setting -->
            <div class="form-setting">
                <span class="txt-label">Granualrity</span>
                <div class="form-component">
                    <!-- wrap calen -->
                    <div class="wrap-calen is-clear">
                        <a href="javascript:" class="btn-solid is-selected">1 sec</a>
                        <a href="javascript:" class="btn-solid">1 min</a>
                        <!-- calen -->
                        <div class="component-calen is-clear">
                            <div class="box-calen">
                                <input type="text" class="type-input" value="2017-30-30 12:00" >

                            </div>
                            <span class="ddp-bar">~</span>
                            <div class="box-calen">
                                <input type="text" class="type-input ddp-data-calen " value="2017-30-30 12:00">
                            </div>
                        </div>
                        <!-- //calen -->
                        <a href="javascript:" class="btn-solid">적용</a>
                    </div>
                    <!-- //wrap calen -->
                </div>
            </div>
            <!-- //form setting -->
        </div>
        <!-- //top option -->

        <!-- wrap server box -->
        <div class="wrap-server-list">
            <!-- component option -->
            <div class="component-top-option is-clear">
                <div class="ui-fright">
                    <a href="javascript:" class="btn-solid type-s">More</a>

                    <!-- tab button -->
                    <div class="component-tab-button">
                        <ul class="list-tab-button">
                            <li class="is-selected"><a href="javascript:"><em class="icon-grid"></em></a></li>
                            <li><a href="javascript:"><em class="icon-list"></em></a></li>
                        </ul>
                    </div>
                    <!-- //tab button -->
                </div>
            </div>
            <!-- //component option -->
            <div class="component-tab-contents">
                <div class="ui-tab-contents">
                    <div class="view-server-grid is-clear">
                        <!-- server box -->
                        <div class="server-box">
                            <!-- component box -->
                            <div class="component-box">
                                <div class="type-label">Coordinator</div>
                                <!-- server -->
                                <div class="ui-server">
                                    {#                <div id="nodes_coordinator" class="ddp-clear"></div>#}
                                </div>
                                <!-- //server -->
                            </div>
                            <!-- //component box -->
                        </div>
                        <!-- //server box -->
                        <!-- server box -->
                        <div class="server-box">
                            <!-- component box -->
                            <div class="component-box">
                                <div class="type-label">Broker</div>
                                <!-- server -->
                                <div class="ui-server">
                                    {#                <div id="nodes_broker" class="ddp-clear"></div>#}
                                </div>
                                <!-- //server -->
                            </div>
                            <!-- //component box -->
                        </div>
                        <!-- //server box -->
                        <!-- server box -->
                        <div class="server-box">
                            <!-- component box -->
                            <div class="component-box">
                                <div class="type-label">Historical</div>
                                <!-- server -->
                                <div class="ui-server">
                                    {#                <div id="nodes_historical" class="ddp-clear"></div>#}
                                </div>
                                <!-- //server -->
                            </div>
                            <!-- //component box -->
                        </div>
                        <!-- //server box -->
                        <!-- server box -->
                        <div class="server-box">
                            <!-- component box -->
                            <div class="component-box">
                                <div class="type-label">Overload</div>
                                <!-- server -->
                                <div class="ui-server">
                                    {#                <div id="nodes_overlord" class="ddp-clear"></div>#}
                                </div>
                                <!-- //server -->
                            </div>
                            <!-- //component box -->
                        </div>
                        <!-- //server box -->
                        <!-- server box -->
                        <div class="server-box">
                            <!-- component box -->
                            <div class="component-box">
                                <div class="type-label">Middle Manager</div>
                                <!-- server -->
                                <div class="ui-server">
                                    {#                <div id="nodes_middleManager" class="ddp-clear"></div>#}
                                </div>
                                <!-- //server -->
                            </div>
                            <!-- //component box -->
                        </div>
                        <!-- //server box -->
                    </div>
                </div>

            </div>
        </div>
        <!-- //wrap server box -->
    </div>
    <!-- //area contents -->

    <div id="node_select" class="ddp-clear"></div>
    <div id="node_details" class="ddp-clear"></div>

    {#                <div id="nodes_coordinator" class="ddp-clear"></div>#}
    {#                <div id="nodes_broker" class="ddp-clear"></div>#}
    {#                <div id="nodes_historical" class="ddp-clear"></div>#}
    {#                <div id="nodes_overlord" class="ddp-clear"></div>#}
    {#                <div id="nodes_middleManager" class="ddp-clear"></div>#}
    <!--//nodes tab -->

</div>

{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!--<script src="{% static "frontend/scroll.js" %}"></script>-->
<script>
     // Select all links with hashes
    $('a[href*="#"]')
      // Remove links that don't actually link to anything
      .not('[href="#"]')
      .not('[href="#0"]')
      .click(function(event) {

        $(this.parentNode.parentNode.childNodes).toggleClass('is-selected');

        // On-page links
        if (
          location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
          &&
          location.hostname == this.hostname
        ) {
          // Figure out element to scroll to
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          // Does a scroll target exist?
          if (target.length) {
            // Only prevent default if animation is actually gonna happen
            event.preventDefault();
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000, function() {
              // Callback after animation
              // Must change focus!
              var $target = $(target);
              $target.focus();
              if ($target.is(":focus")) { // Checking if the target was focused
                return false;
              } else {
                $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                $target.focus(); // Set focus again
              };
            });
          }
        }
      });
</script>

</body>
</html>