@charset "utf-8";

/***************************************************************************************
  Common
***************************************************************************************/
.blind {
    @extend %blind;
}

// Placeholder Selector
%box-sizing {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

%ellipsis {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

%clear {
    display:block;
    clear:both;
    content:'';
}

%break {
    word-break:break-all;
    word-wrap:break-word;
}

%blind {
    position:absolute;
    left:-1px;
    top:-1px;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    color:transparent;
    visibility:hidden;
}

// Mixin
@mixin placeholder($color){
    &::-webkit-input-placeholder {
        color:$color !important; font-weight:normal !important;
        font-style:italic;
    }
    &::-moz-placeholder {
        color:$color !important; font-weight:normal !important;
        font-style:italic;
    }
    &:-ms-input-placeholder {
        color:$color !important; font-weight:normal !important;
        font-style:italic;
    }
    &:-moz-placeholder {
        color:$color !important; font-weight:normal !important;
        font-style:italic;
    }
}
@mixin radius($args...){
    -webkit-border-radius:$args;
    -moz-border-radius:$args;
    -ms-border-radius:$args;
    border-radius:$args;
}

@mixin ellipsisMultiline($line, $lineHeight){
    $maxHeight: $lineHeight * $line;
    display: -webkit-box;
    overflow: hidden;
    max-height: #{$maxHeight}px;
    line-height: #{$lineHeight}px;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin box-shadow($args...){
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin rotate($deg){
    -webkit-transform:rotate(#{$deg}deg);
    -moz-transform:rotate(#{$deg}deg);
    -ms-transform:rotate(#{$deg}deg);
    transform:rotate(#{$deg}deg);
}

@mixin webFont($fontName,$fontFile,$fontWeight){
    font-family:$fontName;
    src: url("fonts/#{$fontFile}.eot");
    src: url("fonts/#{$fontFile}.eot?#iefix") format("embedded-opentype"),
    url("fonts/#{$fontFile}.woff") format("woff"),
    url("fonts/#{$fontFile}.ttf") format("truetype");
    font-weight:$fontWeight;
    font-style:normal;
}