{
  // Default options
  'functions': true
}

@mixin background-size($width, $height) {
  -webkit-background-size: $width $height;
  -moz-background-size: $width $height;
  background-size: $width $height;
}

{{#items.0}}
%sprite2x-image {
  $sprite-total-width: {{px.total_width}};
  $sprite-total-height: {{px.total_height}};
  display: inline-block;
  vertical-align: middle;
  background-image: url({{{escaped_image}}});
  background-repeat: no-repeat;
  @include background-size($sprite-total-width/2, $sprite-total-height/2);
}
{{/items.0}}

{{#options.functions}}
@mixin sprite-width($sprite) {
  $sprite-width: nth($sprite, 5);
  width: $sprite-width/2;
}

@mixin sprite-height($sprite) {
  $sprite-height: nth($sprite, 6);
  height: $sprite-height/2;
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x/2  $sprite-offset-y/2;
}

@mixin get-sprite($sprite) {
  @extend %sprite2x-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
{{/options.functions}}

{{#items}}
${{name}}: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} '{{{escaped_image}}}';
{{/items}}
