/***************************************************************************************
   Component : Button
***************************************************************************************/
.cmm-wrap .section-button {
    [class*="btn-"] {
        display:block;
        width:100%;
        height:40px;
        font-size:18px;
        color:#fff;
    }

    .btn-action {
        background-color:#18bede;
    }
    .btn-cancel {
        background-color:#5c5d5f;
    }
}

