@charset "utf-8";

/***************************************************************************************
   date picker 팝업
***************************************************************************************/
.wrap_pop {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index:90;
    background-color:rgba(255,255,255,0.6);


    .box_datepicker {
        position:absolute;
        top:50%;
        left:50%;
        margin:-210px 0 0 -339px;
        width:678px;
        overflow:hidden;
        @include radius(4px);
        @include box-shadow(0 2px 20px rgba(29,37,41,.4));

        .view_datepicker {
            position:absolute;
            top:0;
            right:0;
            bottom:0;

            padding:32px 36px 30px 36px;
            width:278px;
            height:100%;
            background:url(../images/bg_datepicker.png) no-repeat;
            background-size:100% 100%;
            box-sizing:border-box;

            .label_title {
                display:block;
                padding-bottom:30px;
                color:#fff;
                font-weight:bold;
                font-size:14px;
            }
            .ui_buttons {
                margin:10px -15px 0 -15px;
                text-align:center;

                .btn_solid {
                    display:inline-block;
                    width:100px;
                    border:1px solid #fff;
                    color:#ffffff;
                    font-size:13px;
                    text-align:center;
                    line-height:35px;

                    &:hover {
                        border:1px solid #4abccc;
                    }
                }
                .btn_solid2 {
                    display:inline-block;
                    width:100px;
                    border:1px solid #fff;
                    background-color:#fff;
                    color:#222222;
                    font-size:13px;
                    text-align:center;
                    line-height:35px;

                    &:hover {
                        border:1px solid #4abccc;
                        background-color:#4abccc;
                        color:#fff;
                    }

                }

            }
        }
        .wrap_calen {
            float:left;
            width: 400px;
        }
    }
    .form_part {
        &.border_none {
            border-bottom:0 none;

            .form_option .ui_form input.data_date.is_active {
                border:2px solid #306db7;
                background-color:#e0e7f4;
            }
        }
        padding-bottom:17px;
        margin-bottom:18px;
        border-bottom:1px solid rgba(255,255,255,0.2);

        .form_option {
            position:relative;
            padding:0 0 0 73px;
            margin-top:7px;

            .label_type {
                display:inline-block;
                position:absolute;
                top:0;
                left:0;
                min-width:73px;
                color:#fff;
                font-size:12px;
                line-height:25px;
                opacity:0.6;
            }
            .type_selectbox {
                display:block;
                @include radius(0px);

                .option {
                    line-height:25px;
                    font-size:12px;
                }
            }
            .ui_form {
                display:block;
                overflow:hidden;

                input.data_date {
                    display:block;
                    width:100%;
                    height:25px;
                    line-height:25px;
                    text-align:center;
                    color:#333;
                    font-size:12px;
                    overflow:hidden;
                    background-color:#fff;

                    &.is_active {
                        border:2px solid #4abccc;
                        background-color:#e4f5f7;
                    }

                    &:disabled {
                        opacity:0.5;
                        border:none !important;
                    }
                }
            }
        }
    }
}

/***************************************************************************************
   date picker
***************************************************************************************/
.jqueryDatePicker {
    position:relative;
    padding:75px 25px 25px 25px;
    background-color:#fff;

    .wrapper {
        border-top:1px solid #d7dce0;

        tr {
            position:relative;

            &:first-of-type {
                .yearMonth {
                    position:absolute;
                    top:38px;
                    left:35px;
                    font-size:14px;
                    padding:0px;
                }
                .prev {
                    display:inline-block;
                    position:absolute;
                    top:33px ;
                    right:63px;
                    width:18px;
                    height:18px;
                    border:1px solid #d9dde1;
                    text-indent:-30000px;
                    @include radius(50%);

                    &:before{
                        position:absolute;
                        top:50%;
                        left:50%;
                        margin:-3px 0 0 -2px;
                        content:'';
                        opacity:0.7;
                        @include get-sprite($icon_calenprev);
                    }
                    &:hover {
                        border:1px solid #97a4af;

                        &:before{
                            opacity:1;
                        }
                    }
                }
                .next {
                    display:inline-block;
                    position:absolute;
                    top:33px ;
                    right:36px;
                    width:18px;
                    height:18px;
                    border:1px solid #d9dde1;
                    text-indent:-30000px;
                    @include radius(50%);

                    &:before{
                        position:absolute;
                        top:50%;
                        left:50%;
                        margin:-3px 0 0 -2px;
                        transform:rotate(180deg);
                        content:'';
                        opacity:0.7;
                        @include get-sprite($icon_calenprev);
                    }
                    &:hover {
                        border:1px solid #97a4af;

                        &:before{
                            opacity:1;
                        }
                    }
                }
                .weekdayName {
                    padding:20px 15px;
                    color:#6e8194;
                    font-weight: normal;
                    font-size:12px;
                }
                .date {
                    position:relative;
                    padding:10px 0;
                    font-size:12px;
                    color:#333333;
                    background:none;
                    span {
                        position:relative;
                        display:block;
                        height:30px;
                        padding:0 15px;
                        line-height:30px;
                    }
                    &.today {
                        border:none;
                        span {
                            font-weight:bold;
                        }
                    }
                    &.start,
                    &.start2,
                    &.end,
                    &.end2 {
                        span {
                            position:relative;
                            z-index:1;
                            color:#fff;
                            text-align:center;
                        }
                    }
                    &.between {
                        background:none;
                        &:before{
                            display:inline-block;
                            position:absolute;
                            top:50%; left:0; right:0; bottom:0;
                            margin-top:-15px;
                            height:30px;
                            background:url(../images/bg_calen_between.png) repeat-x;
                            background-size:100% 100%;
                            content:'';
                        }
                        &.between2 {
                            &:before{
                                background:url(../images/bg_calen_between3.png) repeat-x;
                                background-size:100% 100%;
                            }
                        }
                    }
                    &.between2 {
                        &:before{
                            display:inline-block;
                            position:absolute;
                            top:50%; left:0; right:0; bottom:0;
                            margin-top:-15px;
                            height:30px;
                            background:url(../images/bg_calen_between2.png) repeat-x;
                            background-size:100% 100%;
                            content:'';

                        }
                    }
                    &.start:after,
                    &.start2:after,
                    &.end:after,
                    &.end2:after {
                        display:inline-block;
                        position:absolute;
                        top:50%;
                        left:50%;
                        margin:-15px 0 0 -16px;
                        content:'';
                        @include rotate(0);
                    }
                    &.start:after, &.end:after {
                        @include get-sprite($bg_calen_1st);
                    }
                    &.start2:after, &.end2:after {
                        @include get-sprite($bg_calen_2nd);
                    }
                    &.end:after, &.end2:after {
                        @include rotate(180);
                    }
                    &.start {
                        &.between {
                            &:before{
                                left:50%;
                            }
                            &.between2 {
                                &:before{
                                    left:0;
                                    background:url(../images/bg_start_between2.png) no-repeat;
                                    background-size:100% 100%;
                                }
                            }
                        }
                    }
                    &.start2 {
                        &.between2 {
                            &:before{
                                left:50%;
                            }
                        }
                    }
                    &.start2 {
                        &.between {
                            &.between2 {
                                &:before{
                                    left:0;
                                    background:url(../images/bg_start_between.png) no-repeat;
                                    background-size:100% 100%;
                                }
                            }
                        }
                    }
                    &.end {
                        &.between {
                            &.between2 {
                                &:before{
                                    right:0;
                                    background:url(../images/bg_end_between.png) no-repeat;
                                    background-size:100% 100%;
                                }
                            }
                        }
                    }
                    &.end {
                        &.between {
                            &:before {
                                right:50%;
                            }
                        }
                    }
                    &.end2 {
                        &.between2 {
                            &:before {
                                right:50%;
                            }
                        }
                        &.between{
                            &.between2 {
                                &:before {
                                    right:0;
                                    background:none;
                                    background:url(../images/bg_end_between2.png) no-repeat;
                                    background-size:100% 100%;
                                }
                            }
                        }
                    }
                    &.start.end2.between.between2:before,
                    &.start.end.end2.between.between2:before {
                        left:0;
                        background:none;
                        background:url(../images/bg_end_between3.png) no-repeat;
                        background-size:100% 100%;
                    }
                    &.start2.end.between.between2:before,
                    &.start.end.start2.between.between2:before {
                        right:0;
                        background:none;
                        background:url(../images/bg_start_between3.png) no-repeat;
                        background-size:100% 100%;
                    }
                    &.start.end.end2.between.between2:before {
                        right:auto;
                        left:17px;
                    }
                    &.start.end.start2.between.between2:before {
                        left:auto;
                    }
                    &.start2.end:after{
                        @include rotate(0);
                    }
                    &.start.end.between:before {
                        position:absolute;
                        top:50%;
                        left:50%;
                        margin:-15px 0 0 -16px;
                        background-size:auto;
                        content:'';
                        @include rotate(0);
                        @include get-sprite($bg_calen_1st);
                    }
                    &.start2.end2.between2:before,
                    &.start2.end2.between.between2:before,
                    &.end.between.start2.end2.between2:before,
                    &.start.between.start2.end2.between2:before,
                    &.start.end.between.start2.end2.between2:before {
                        position:absolute;
                        top:50%;
                        left:50%;
                        margin:-15px 0 0 -16px;
                        content:'';
                        background-size:auto;
                        @include get-sprite($bg_calen_2nd);
                        @include rotate(0);
                    }
                    &.end.between.start2.end2.between2:after,
                    &.start.end.between.start2.end2.between2:after {
                        @include rotate(180);
                    }
                    &.start2.end2.between.between2 > span {
                        background-color:#2c5fb3;
                    }
                    &.start.end.between.between2 > span {
                        background-color:#4abccc;
                    }
                    &.start.end.start2.between.between2 > span,
                    &.start.end.end2.between.between2 > span,
                    &.start2.end.end2.between.between2 > span,
                    &.start.start2.end2.between.between2 > span {
                        background:none;
                    }
                }
            }
        }
    }
}