@charset "utf-8";

/***************************************************************************************
   Dashboard Card
***************************************************************************************/
.dashboard_card_area {

  .dbp_row {
    margin: 0 -9px;

    &+.dbp_row {
      margin-top:20px;
    }

    .dbp_col4 {
      padding: 0 9px;
      .box_card {
        position: relative;
        padding: 32px 24px 25px 24px;
        margin-bottom: 15px;
        border: 1px solid #e0e3e6;
        cursor: pointer;
        @include radius(4px);

        &:hover {
          @include box-shadow(0 2px 5px rgba(29, 37, 41, .4));
        }
        .data_type {
          display: block;
          padding-bottom: 15px;
          color: #666;
          font-size: 13px;
        }
        .data_name {
          display: block;
          padding-bottom: 35px;
          color: #222;
          font-size: 22px;
          font-weight: bold;
        }
        .ui_user {
          padding-bottom: 20px;

          .data_label {
            display: block;
            padding-bottom: 10px;
            color: #5f7580;
            font-size: 13px;
          }
          .data_user {
            display: block;
            color: $color;
            font-size: 13px;
            font-weight: bold;
          }
        }

        .ui_rate {
          overflow: hidden;
          .data_label {
            display: block;
            padding-bottom: 10px;
            color: #5f7580;
            font-size: 13px;
          }
          .data_rate {
            display: inline-block;
            position: relative;
            float: left;
            padding: 0 13px;
            color: $color;
            font-size: 13px;

            &:before {
              display: inline-block;
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -7px;
              height: 13px;
              border-left: 1px solid #e0e3e6;
              content: '';
            }

            &.dbp_first {
              padding-left: 0;
              &:before {
                display: none;
              }
            }
            em.icon_man {
              margin-right: 9px;
              vertical-align: middle;
              @include get-sprite($icon_man);
            }
            em.icon_waman {
              margin-right: 9px;
              vertical-align: middle;
              @include get-sprite($icon_woman);
            }
            em.icon_none {
              margin-right: 9px;
              vertical-align: middle;
              @include get-sprite($icon_none);
            }
            .data_per {
              margin-left: 13px;
              color: $color;
              font-size: 13px;
              font-weight: bold;
            }

          }
        }
      }
    }
  }
}

/***************************************************************************************
   Dashboard Table
***************************************************************************************/
.dashboard_card_area {
  .wrap_table {
    margin:20px -40px 0 -40px;

    table.table_list {
      table-layout:fixed;
      width:100%;

      tr {
        cursor: pointer;


        &:hover {
          td {
            @include box-shadow( 0px 3px 0px 0px #f0f1f1)
          }
        }
        th {
          padding:8px 0;
          background-color:#f2f4f5;
          color:#8d929a;
          font-size:11px;
          font-weight:normal;
          box-sizing:border-box;

          .data_label {
            display:inline-block;
            float:left;
            width:12%;
            content:'';
          }
          .data_type {
            display:inline-block;
            float:left;
            width:22%;

          }
        }
        td {
          padding:0 0;
          color:#666;
          font-size:13px;
          text-align:center;
          border-bottom:1px solid #f2f4f5;
          box-sizing:border-box;
          &.txt_left {
            text-align:left;
          }
          .list_data {
            li {
              padding:7px 0;
              border-top:1px solid #f2f4f5;
              overflow:hidden;

              .data_label {
                display:inline-block;
                float:left;
                width:12%;
                color:#899caf;
              }
              .data_type {
                display:inline-block;
                float:left;
                width:22%;
                color:$color;
                text-align:center;
                em {
                  color:#4abccc;
                }
              }
              &:first-of-type {
                border-top:none;
              }
            }
          }
          strong {
            color:$color;
          }

          .img_service {
            display:inline-block;
            position:relative;
            top:0;
            right:0;
            width:50px;
            height:50px;
            margin-right:25px;
            border:1px solid #e1e4e7;
            overflow:hidden;
            vertical-align: middle;
            @include radius(50%);

            &:before {
              content:'';
            }
            &.type_tconfirm:before {
              @include get-sprite($img_service_s1);
            }
            &.type_call:before {
              @include get-sprite($img_service_s2);
            }
            &.type_tmap:before {
              @include get-sprite($img_service_s3);
            }
            &.type_taxi:before {
              @include get-sprite($img_service_s4);
            }
            &.type_tpublic:before {
              @include get-sprite($img_service_s5);
            }
            &.type_tmembership:before {
              @include get-sprite($img_service_s6);
            }
            &.type_tpay:before {
              @include get-sprite($img_service_s7);
            }
            &.type_tworld:before {
              @include get-sprite($img_service_s8);
            }
            &.type_tsmart:before {
              @include get-sprite($img_service_s9);
            }
            &.type_aom:before {
              @include get-sprite($img_service_s10);
            }
            &.type_cookiz:before {
              @include get-sprite($img_service_s11);
            }
            &.type_tdirect:before {
              @include get-sprite($img_service_s12);
            }
            &.type_twifi:before {
              @include get-sprite($img_service_s13);
            }
            &.type_defalt:before {
              @include get-sprite($img_service_s14);
            }
            &.type_tworld2:before {
              @include get-sprite($img_service_s15);
            }
          }
        }
      }
    }
  }
}

/***************************************************************************************
   공통 이미지
***************************************************************************************/
.dashboard_card_area {
  .img_service {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 24px;
    width: 98px;
    height: 98px;
    border: 1px solid #e1e4e7;
    overflow: hidden;
    @include radius(50%);

    &:before {
      content: '';
    }
    &.type_tconfirm:before {
      @include get-sprite($img_service1);
    }
    &.type_tmap:before {
      @include get-sprite($img_service2);
    }
    &.type_taxi:before {
      @include get-sprite($img_service3);
    }
    &.type_tworld:before {
      @include get-sprite($img_service4);
    }
    &.type_twifi:before {
      @include get-sprite($img_service5);
    }
    &.type_tmembership:before {
      @include get-sprite($img_service6);
    }
    &.type_tpay:before {
      @include get-sprite($img_service7);
    }
    &.type_tsmart:before {
      @include get-sprite($img_service8);
    }
    &.type_tpublic:before {
      @include get-sprite($img_service9);
    }
    &.type_call:before {
      @include get-sprite($img_service10);
    }
    &.type_aom:before {
      @include get-sprite($img_service11);
    }
    &.type_cookiz:before {
      @include get-sprite($img_service12);
    }
    &.type_tdirect:before {
      @include get-sprite($img_service13);
    }
    &.type_tmember:before {
      @include get-sprite($img_service14);
    }
    &.type_tworld2:before {
      @include get-sprite($img_service15);
    }
  }
}