<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>METATRON</title>

    <!-- polaris css --->
    <link rel="stylesheet" href="../css/rome.css"/>
    <link rel="stylesheet" href="../css/polaris.v2.css"/>
    <link rel="stylesheet" href="../css/polaris-black.css"/>
    <script src="../js/jquery/jquery.1.9.1.min.js"></script>

</head>
<body class="polaris-black">
    <!-- header -->
    <div class="ddp-layout-header">
        <!-- lnb -->
        <!-- menu 클릭시 ddp-selected 추가 -->
        <div class="ddp-layout-lnb ddp-selected">
            <a href="javascript:" class="ddp-btn-lnbmenu"></a>

            <ul class="ddp-list-lnb">
                <!-- 클릭시 ddp-selected 추가 -->
                <li class="ddp-selected">
                    <div class="ddp-wrap-listmenu">
                        <a href="javascript:">
                            <span class="ddp-txt-lnbmenu">Cluster</span>
                            <em class="ddp-icon-menuview"></em>
                        </a>
                        <!-- sub -->
                        <div class="ddp-list-sub">
                            <!-- submenu -->
                            <ul class="ddp-list-sublnb">
                                <li>
                                    <a href="javascript:">
                                        <em class="ddp-icon-dot"></em>
                                        Overview
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <em class="ddp-icon-dot"></em>
                                        Nodes
                                    </a>
                                </li>
                            </ul>
                            <!-- //submenu -->
                        </div>
                        <!-- //sub -->
                    </div>
                </li>
                <li>
                    <div class="ddp-wrap-listmenu">
                        <a href="javascript:">
                            <span class="ddp-txt-lnbmenu">Datasource</span>
                            <em class="ddp-icon-menuview"></em>
                        </a>
                        <!-- sub -->
                        <div class="ddp-list-sub">
                            <!-- submenu -->
                            <ul class="ddp-list-sublnb">
                                <li>
                                    <a href="javascript:">
                                        <em class="ddp-icon-dot"></em>
                                        Data Storage
                                    </a>
                                </li>
                                <!-- 선택시 ddp-selected -->
                                <li class="ddp-selected">
                                    <a href="javascript:">
                                        <em class="ddp-icon-dot"></em>
                                        Data Monitoring
                                    </a>
                                </li>
                            </ul>
                            <!-- //submenu -->
                        </div>
                        <!-- //sub -->
                    </div>
                </li>
                <li>
                    <div class="ddp-wrap-listmenu">
                        <a href="javascript:">
                            <span class="ddp-txt-lnbmenu">APIs Editor</span>
                            <em class="ddp-icon-menuview"></em>
                        </a>
                        <!-- sub -->
                        <div class="ddp-list-sub">
                            <!-- submenu -->
                            <ul class="ddp-list-sublnb">
                                <!-- 선택시 ddp-selected -->
                                <li class="ddp-selected">
                                    <a href="javascript:">
                                        <em class="ddp-icon-dot"></em>
                                        Editor
                                    </a>
                                </li>
                            </ul>
                            <!-- //submenu -->
                        </div>
                        <!-- //sub -->
                    </div>
                </li>                
            </ul>
        </div>
        <!-- //lnb -->
        <h1 class="ddp-h1-logo"><a href="javascript:"><em class="ddp-icon-logo">METATRON</em><em class="ddp-icon-logo logo-last">ENGINE MONITORING</em></a></h1>
        <div class="ddp-ui-headright">
            <a href="javascript:" class="ddp-btn-search"></a>
            <!-- photo -->
            <!-- 클릭시 ddp-selected 추가 -->
            <div class="ddp-wrap-myinfo">
                <a href="javascript:" class="ddp-data-photo">
                    <img src="../images/img_photo.png" />
                </a>
                <!-- my info -->
                <div class="ddp-ui-sub-myinfo">
                    <div class="ddp-wrap-data">
                        <span class="ddp-data-name">Brittany Eutychia Sadler</span>
                        <span class="ddp-data-mail">brittanyemailme@international.com</span>
                    </div>

                    <ul class="ddp-list-sub-myinfo">
                        <li><a href="javscript:">사용자 정보 관리</a></li>
                        <li><a href="javscript:">로그아웃</a></li>
                    </ul>
                </div>
                <!-- //my info -->
            </div>
            <!-- //photo -->

        </div>

    </div>
    <!-- //header -->


    <!-- contents -->
    <div class="ddp-layout-contents">
        <em class="ddp-bg-back"></em>
        <div class="ddp-ui-contents-in">
            <!-- top -->
            <div class="ddp-ui-contents-top">
                <div class="ddp-ui-title">
                    Cluster
                </div>

                <!-- tab -->
                <ul class="ddp-list-top-tab">
                    <li class="ddp-selected">
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#">Nodes</a>
                    </li>
                </ul>
                <!-- //tab -->

            </div>
            <!-- //top -->


        </div>


    </div>
    <!-- //contents -->
</body>
</html>
